{
    "swagger": "2.0",
    "info" : {
        "description" : "MediaPool Public RESTful Service API - 63.2.0-6.8 Documentation",
        "contact" : {
          "email" : "dev-team-mp@brandmaker.com",
          "name" : "MediaPool"
        },
        "version" : "63.2.0-6.8",
        "title" : "MediaPool"
    },
    "host" : "is-dev2.brandmaker.com",
    "basePath" : "/rest/mp",
    "schemes" : ["https"],
    "tags": [
        {
            "name": "Assets"
        },
        {
          "name": "Users"
        },
        {
          "name" : "Archive"
        }
    ],
    "paths": {
      "\/v1.0/archive-entries" : {
        "post" : {
          "tags" : [ "Archive" ],
          "title": "insert entry",
          "summary" : "Inserts archive entries for the asset specified within the request.",
          "description" : "Inserts archive entries for the asset specified within the request.\n\n<p>/rest/mp/archive-entries<\/p>",
          "operationId" : "insertArchiveEntries",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "body",
              "in" : "body",
              "schema" : {
  "$ref" : "#/definitions/json_ArchiveEntryRequestParameter"
              },
              "description" : "json representation of ArchiveEntryRequestParameter\n\n<pre>\n    {\n        \"assetId\": 74668,\n        \"archive_entries\": [{\n            \"name\": \"pic3.jpg\",\n            \"size\": 211,\n            \"archive_path\": \"dir3/dir4/\"\n        },\n        {\n            \"name\": \"pic5.jpg\",\n            \"size\": 70\n        }]\n    }\n     <\/pre>\n<ul>\n<li>asseId (Integer) - asset id<\/li>\n<li>versionNumber (Integer) - version number<\/li>\n<li>archive_entries (list of BaseArchiveEntryRestDto) - archive entries to insert\n<ul>\n<li>name (String) - archive entry name<\/li>\n<li>size (Integer) - archive entry size<\/li>\n<li>archive_path (String) - archive entry path (Optional)<\/li>\n<\/ul>\n<\/li>\n<\/ul>"
            }
          ],
          "responses" : {
            "200" : {
              "schema" : {
  "description" : "All archive entries are inserted",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_BaseArchiveEntryRestDto"
  }
              },
              "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "SERVICE_UNAVAILABLE",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "name" : "...",
    "size" : 12345,
    "asset_id" : 12345,
    "archive_path" : "..."
  },
              "description" : "All archive entries are inserted"
            },
            "400" : {
              "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "CREATED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "name" : "...",
    "size" : 12345,
    "asset_id" : 12345,
    "archive_path" : "..."
  },
              "description" : "This status is returned when some of this is true: 1. Asset id is null or negative value; 2. no data for insert are provided; 3. No data for insert are provided; 4. Missing name or size of an archive entry"
            },
            "404" : {
              "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "PARTIAL_CONTENT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "name" : "...",
    "size" : 12345,
    "asset_id" : 12345,
    "archive_path" : "..."
  },
              "description" : "An asset with given id doesn't exist."
            }
          }
        }
      }
      ,
   
      "\/v1.0/archive-entries/asset/{assetId}/versions/{versionNumber}" : {
        "delete" : {
          "tags" : [ "Archive" ],
          "title" : "delete entry",
          "summary" : "delete all of archive entries for given asset and version number\nif exists record with given asset id and version number.",
          "description" : "delete all of archive entries for given asset and version number\nif exists record with given asset id and version number",
          "operationId" : "deleteArchiveEntriesByAssetIdAndVersion",
          "parameters" : [
            {
              "name" : "assetId",
              "in" : "path",
              "required" : false,
              "type" : "integer",
              "format" : "int32",
              "description" : "- integer value",
              "example" : 4
            },
            {
              "name" : "versionNumber",
              "in" : "path",
              "required" : false,
              "type" : "integer",
              "format" : "int32",
              "description" : "- integer value"
            }
          ],
          "responses" : {
            "204" : {
              "description" : "Archive entries deleted!"
            },
            "400" : {
              "description" : "Asset id or version number is null or negative number."
            }
          }
        }
      },
      "\/v1.1/users" : {
        "get" : {
          "tags" : [ "Users" ],
          "title" : "list",
          "summary" : "Retrieves a list of users ordered alphabetically.",
          "description" : "Retrieves a list of users ordered alphabetically.\n\n<br>\nInternal codes: <br>\n<code>E - Error, W - Warning, I - Info<\/code><br>\n\n<code>MP_E01006<\/code> - An offset or limit is invalid. <br>",
          "operationId" : "find5",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "limit",
              "in" : "query",
              "required" : false,
              "type" : "integer",
              "format" : "int32",
              "description" : "the number of rows to be returned."
            },
            {
              "name" : "name",
              "in" : "query",
              "required" : false,
              "type" : "string",
              "description" : "the name user to filter the result. It is searched in user's first or last name.", 
              "example" : "Smith"
            },
            {
              "name" : "offset",
              "in" : "query",
              "required" : false,
              "default" : "0",
              "type" : "integer",
              "format" : "int32",
              "description" : "the number of starting row to be returned. Default value is 0."
            }
          ],
          "responses" : {
            "200" : {
              "schema" : {
  "$ref" : "#/definitions/json_PageableRestDtoOfMediaPoolUserRestDto"
              },
              "example" : {
    "totalCount" : 12345,
    "items" : [ {
      "id" : 12345,
      "name" : "..."
    }, {
      "id" : 12345,
      "name" : "..."
    } ]
  },
              "description" : "Users are returned."
            },
            "401" : {
              "example" : {
    "totalCount" : 12345,
    "items" : [ {
      "id" : 12345,
      "name" : "..."
    }, {
      "id" : 12345,
      "name" : "..."
    } ]
  },
              "description" : "User is not logged in."
            },
            "403" : {
              "example" : {
    "totalCount" : 12345,
    "items" : [ {
      "id" : 12345,
      "name" : "..."
    }, {
      "id" : 12345,
      "name" : "..."
    } ]
  },
              "description" : "The user have insufficient rights to perform the operation."
            },
            "400" : {
              "example" : {
    "totalCount" : 12345,
    "items" : [ {
      "id" : 12345,
      "name" : "..."
    }, {
      "id" : 12345,
      "name" : "..."
    } ]
  },
              "description" : "Offset or limit are invalid."
            }
          }
        }
      }
      ,
      "\/v1.0/users/current/favourites/assets/{assetId}" : {
        "delete" : {
          "tags" : [ "Users" ],
          "title": "remove favourite",
          "summary" : "remove given asset from the currently logged user favourites collection.",
          "description" : "remove given asset from the currently logged user favourites collection.\n\n<pre>\n        Example:\n            /rest/mp/v1.0/users/current/favourites/assets/258603\n <\/pre>",
          "operationId" : "removeFromFavourites",
          "parameters" : [
            {
              "name" : "assetId",
              "in" : "path",
              "required" : false,
              "type" : "integer",
              "format" : "int32",
              "description" : "integer value"
            }
          ],
          "responses" : {
            "204" : {
              "description" : "asset is removed successfully from the collection"
            },
            "400" : {
              "description" : "if asset id is null or negative number"
            },
            "404" : {
              "description" : "if asset with provided id is not found"
            },
            "403" : {
              "description" : "user does not have sufficient rights to perform this operation"
            }
          }
        }
      }
      ,
      "\/v1.1/users/current/asset-collections" : {
        "get" : {
          "tags" : [ "Users" ],
          "title": "list assets",
          "summary" : "Retrieves all asset collections accessible by the current user.",
          "description" : "Retrieves all asset collections accessible by the current user\n\n<p> /rest/mp/v1.1/users/current/asset-collections <\/p>",
          "operationId" : "findCollections",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "filters",
              "in" : "query",
              "required" : false,
              "type" : "array",
              "items" : {
              "type" : "string",
              "enum" : ["MY_COLLECTIONS", "SHARED_COLLECTIONS"]
              },
              "collectionFormat" : "multi",
              "description" : "The subset(s) of collections to be returned. One of: <b>my<\/b>, <b>shared<\/b>.\n<pre>E.g.: /rest/mp/v1.1/users/current/asset-collections?filters=my&amp;filters=shared<\/pre>"
            }
          ],
          "responses" : {
            "200" : {
              "schema" : {
  "$ref" : "#/definitions/json_AssetSetCollectionResponseRestDto"
              },
              "example" : {
    "assetCollections" : [ {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    }, {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "UNSUPPORTED_MEDIA_TYPE",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
              "description" : "Collections are returned"
            },
            "400" : {
              "example" : {
    "assetCollections" : [ {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    }, {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "PROXY_AUTHENTICATION_REQUIRED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
              "description" : "Unknown filters parameter is passed!"
            },
            "401" : {
              "example" : {
    "assetCollections" : [ {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    }, {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "PAYMENT_REQUIRED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
              "description" : "User is not logged in!"
            }
          }
        }
      }
    ,  
      
      "\/v1.0/users/current/favourites/assets" : {
        "patch" : {
          "tags" : [ "Users" ],
          "title" : "add favourite",
          "summary" : "add the given collections of asset ids to the currently logged user favourites collection.",
          "description" : "add the given collections of asset ids to the currently logged user favourites collection.\n\n<pre>\n         Example:\n            /rest/mp/v1.0/users/current/favourites/assets\n <\/pre>\n\n<p>request example<\/p>\n\n{\n\"assetIds\": [\n{\n\"id\": 258205\n},\n{\n\"id\": 258603\n},\n{\n\"id\": 257517\n},\n{\n\"id\": 258307\n}\n]\n}",
          "operationId" : "addToFavourites",
          "consumes" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "body",
              "in" : "body",
              "schema" : {
  "$ref" : "#/definitions/json_AssetCollectionRequestRestDto"
              },
              "description" : "- AssetCollectionRequestRestDto"
            }
          ],
          "responses" : {
            "200" : {
              "description" : "asset is added to the collection successfully"
            },
            "400" : {
              "description" : "if asset id is null or negative number"
            },
            "404" : {
              "description" : "if asset with provided id is not found"
            },
            "403" : {
              "description" : "user does not have sufficient rights to perform this operation"
            }
          }
        }
      },
        "\/v1.0/assets/load" : {
            "post" : {
              "tags" : [ "Assets" ],
              "title" : "load",
              "summary" : "Loads assets by a given collection of pair.",
              "description" : "Loads assets by a given collection of pair <b>&lt;assetId, versionNumber&gt;<\/b> and a loadMask. The loadMask is used\nto load the requested external properties of the AssetRestDto. The returned response contains 2 collections.\nThe first collection <code>assets<\/code> contains all assets which are found and are contained in the request.\nThe second collection <code>statuses<\/code> contains status objects for each not-found asset and asset resource version.\n<p>\nMaximum 200 assets can be requested via this endpoint. If you request more than 200 assets a BAD_REQUEST response will be returned.\n<p>\nIf any of the given arguments - assetId or versionNumber is missing, BAD_REQUEST is returned as this is invalid request.\n<p>\n<p>\nIf the load mask is omitted, the response will contains the found assets with no loaded relations to them, ie. no variants or themes.\n<\/p>\nFor example if we pass the following collection, where the asset with id 74568 has only 2 versions with numbers (0 and 1),\nand the asset 52353 doesn't exist at all, the response will contains 2 items in the assets collections representing each version\nof the 74568 asset, and 2 items in statuses collection, which represents the not-existing version 2 of 74568 asset, and the not existing\nasset with id 52353 with version 0:\n<br>\nRequest:\n<pre>\n     {\n     \"assetVersionIds\": [\n        {\n            \"assetId\": 74568,\n            \"versionNumber\": 0\n        },\n        {\n            \"assetId\": 74568,\n            \"versionNumber\": 1\n        },\n        {\n            \"assetId\": 74568,\n            \"versionNumber\": 2\n        },\n        {\n            \"assetId\": 52353,\n            \"versionNumber\": 0\n        }\n     ],\n     \"expandable\":\"uploadApproval,vdb,owner\"\n     }\n <\/pre>\n<br>\nResponse:\n<pre>\n     {\n     \"assets\": [{\n        \"owner\": {\n           \"id\": 2001,\n            \"name\": \"Ivanov, Kamen\"\n        },\n        \"vdb\": {\n            \"id\": 2,\n            \"name\": \"Standard\"\n        },\n        \"uploadApprovalData\": {\n            \"approveState\": \"Approved\"\n        },\n        \"id\": 74568,\n        \"assetTitle\": \"Test asset\",\n        \"validFrom\": \"2017-09-30T21:00:00.000+0000\",\n        \"keywords\": \"keywords\",\n        \"averageRating\": 1.0,\n        \"editState\": true,\n        \"lastUpdatedTime\": \"2018-02-22T06:46:54.000+0000\",\n        \"popularity\": 3,\n        \"suitableForW2P\": true,\n        \"hiRes\": false,\n        \"relationsCount\": 1,\n        \"variantsCount\": 1,\n        \"hideIfNotValid\": true,\n        \"versionCount\": 2,\n        \"uploadDate\": \"2018-02-04T20:58:26.000+0000\",\n        \"resourceVersion\": {\n            \"id\": 55572,\n            \"assetId\": 74568,\n            \"versionNumber\": 0,\n            \"insertedTime\": \"2018-02-05T12:58:26.000+0000\",\n            \"uploader\": {\n                \"id\": 5906,\n                \"name\": \"User, Test\"\n            },\n            \"fileResource\": {},\n            \"official\": false\n        },\n        \"actualVersionNumber\": 1\n     },\n     {\n        \"owner\": {\n            \"id\": 2051,\n            \"name\": \"John Snow\"\n        },\n        \"vdb\": {\n            \"id\": 2,\n            \"name\": \"Standard\"\n        },\n        \"uploadApprovalData\": {\n            \"approveState\": \"Approved\"\n        },\n        \"id\": 74568,\n        \"assetTitle\": \"Test asset\",\n        \"validFrom\": \"2017-09-30T21:00:00.000+0000\",\n        \"keywords\": \"keywords\",\n        \"averageRating\": 1.0,\n        \"editState\": true,\n        \"lastUpdatedTime\": \"2018-02-22T06:46:54.000+0000\",\n        \"popularity\": 3,\n        \"suitableForW2P\": true,\n        \"hiRes\": false,\n        \"relationsCount\": 1,\n        \"variantsCount\": 1,\n        \"hideIfNotValid\": true,\n        \"versionCount\": 2,\n        \"uploadDate\": \"2018-02-04T20:58:26.000+0000\",\n        \"resourceVersion\": {\n            \"id\": 55573,\n            \"assetId\": 74568,\n            \"versionNumber\": 1,\n            \"insertedTime\": \"2018-02-05T15:11:39.000+0000\",\n            \"uploader\": {\n                \"id\": 5906,\n                \"name\": \"User, Test\"\n            },\n            \"fileResource\": {},\n            \"official\": true\n        },\n        \"actualVersionNumber\": 1\n     }\n     ],\n     \"statuses\":  [\n        {\n            \"status\": 404,\n            \"message\": \"Asset version with assetId '74568' and version number '2' is not found\",\n            \"entity\": {\n                \"assetId\": 74568,\n                \"versionNumber\": 2\n            }\n        },\n        {\n            \"status\": 404,\n            \"message\": \"Asset version with assetId '52353' and version number '0' is not found\",\n            \"entity\": {\n                \"assetId\": 52353,\n                \"versionNumber\": 0\n            }\n        }\n     ]\n     }\n <\/pre>",
              "operationId" : "findAssets",
              "consumes" : [ "application/json" ],
              "produces" : [ "application/json" ],
              "parameters" : [
                {
                  "name" : "body",
                  "in" : "body",
                  "schema" : {
      "$ref" : "#/definitions/json_LoadAssetsRequestRestDto"
                  },
                  "description" : "a wrapper over the collection of assetId and versionNumber, both non-negative integers and the expand parameter"
                }
              ],
              "responses" : {
                "200" : {
                  "schema" : {
      "$ref" : "#/definitions/json_AssetsResponseRestDto"
                  },
                  "example" : {
        "assets" : [ {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "REQUEST_URI_TOO_LONG",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "SCHEDULED"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "SCHEDULED"
          } ]
        }, {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "METHOD_NOT_ALLOWED",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "EXPIRED"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "SCHEDULED"
          } ]
        } ],
        "statuses" : [ {
          "status" : 12345,
          "message" : "...",
          "entity" : { }
        }, {
          "status" : 12345,
          "message" : "...",
          "entity" : { }
        } ]
      },
                  "description" : "All requested assets and resource version numbers have been found."
                },
                "207" : {
                  "schema" : {
      "$ref" : "#/definitions/json_AssetsResponseRestDto"
                  },
                  "example" : {
        "assets" : [ {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "USE_PROXY",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "EXPIRED"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "EXPIRED"
          } ]
        }, {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "PAYMENT_REQUIRED",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "SCHEDULED"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "CURRENT"
          } ]
        } ],
        "statuses" : [ {
          "status" : 12345,
          "message" : "...",
          "entity" : { }
        }, {
          "status" : 12345,
          "message" : "...",
          "entity" : { }
        } ]
      },
                  "description" : "Request completed but with errors, check the statuses collection for individual errors."
                },
                "400" : {
                  "example" : {
        "assets" : [ {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "REQUEST_URI_TOO_LONG",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "CURRENT"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "EXPIRED"
          } ]
        }, {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "GATEWAY_TIMEOUT",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "CURRENT"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "SCHEDULED"
          } ]
        } ],
        "statuses" : [ {
          "status" : 12345,
          "message" : "...",
          "entity" : { }
        }, {
          "status" : 12345,
          "message" : "...",
          "entity" : { }
        } ]
      },
                  "description" : "Request is invalid."
                }
              }
            }
          } 
          ,
    "\/v1.0/assets/{assetId}/external-data" : {
      "put" : {
        "tags" : [ "Assets" ],
        "title" : "change state",
        "summary" : "Update asset external data (data that is not directly part of the asset).",
        "description" : "Update asset external data (data that is not directly part of the asset)\n\n<p>/rest/mp/assets/{assetId}/external-data<\/p>\n\n<pre>\n          Example:\n          /rest/mp/assets/74568/external-data\n     <\/pre>\n<pre>\n     {\n       \"articleNumber\": \"1234\",\n       \"articleDescription\": \"Test description\"\n     }\n     <\/pre>",
        "operationId" : "updateExternalData",
        "consumes" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "assetId",
            "in" : "path",
            "required" : false,
            "type" : "integer",
            "format" : "int32",
            "description" : "(Integer, Non-negative) - ID of the asset to be updated"
          },
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"$ref" : "#/definitions/json_ExternalDataRestDto"
            },
            "description" : "External data to be updated"
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Asset external data successfully updated"
          },
          "400" : {
            "description" : "Asset ID is not a valid positive number or the article number does not conform to pattern in settings"
          },
          "404" : {
            "description" : "Asset doesn't exist with the provided asset id"
          },
          "403" : {
            "description" : "The user doesn't have the rights needed or the property update functionality is disabled"
          }
        }
      }
    }
    ,
      "\/v1.0/assets/{assetId}/state" : {
        "put" : {
          "tags" : [ "Assets" ],
          "title": "set state",
          "summary" : ".",
          "description" : "<p>Deletes asset with the given id.<\/p>\n<p>/rest/mp/assets/{assetId}/state<\/p>\n\n<pre>\n      Example:\n      /rest/mp/assets/74568/state\n  <\/pre>\n\n<pre>\n         {\n            \"state\": \"DELETED\",\n            \"variantsHandler\": {\n                 \"type\": \"TRANSFER_VARIANTS\",\n                 \"transferToAssetId\": 74569\n            }\n         }\n         <\/pre>",
          "operationId" : "setState",
          "consumes" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "assetId",
              "in" : "path",
              "required" : false,
              "type" : "integer",
              "format" : "int32",
              "description" : "(Integer, non-negative) the id of asset to be removed."
            },
            {
              "name" : "body",
              "in" : "body",
              "schema" : {
  "$ref" : "#/definitions/json_AssetStateChangeRestDto"
              },
              "description" : "(Required) The required state change. JSON representation AssetStateChangeRestDto\n\n<ul>\n<li>state - (Required) The new state of the asset.\n<ul>\n<li>DELETED - delete the asset<\/li>\n<\/ul>\n<\/li>\n<li>variantsHandler - (Optional) The strategy for handling the deleted asset's variants when DELETED state is requested.\nWhen missing, UNASSIGN_VARIANTS will be assumed.\n<ul>\n<li>type - String, one of:\n<ul>\n<li>TRANSFER_VARIANTS - all variants will be transferred to the asset specified by transferToAssetId<\/li>\n<li>UNASSIGN_VARIANTS - all variants will be unassigned<\/li>\n<li>DELETE_VARIANTS - all variants that the user has access to will be deleted<\/li>\n<\/ul>\n<\/li>\n<li>\ntransferToAssetId - Integer, Non-negative. The ID of the asset to which the deleted asset's variants will be transfered.\nRequired only when TRANSFER_VARIANTS type is selected.\n<\/li>\n<\/ul>\n<\/li>\n<\/ul>"
            }
          ],
          "responses" : {
            "204" : {
              "description" : "State change performed successfully!"
            },
            "404" : {
              "description" : "Asset with the given ID does not exist. The asset with transferToAssetId is requried but does not exist."
            },
            "403" : {
              "description" : "User is not allowed to delete this asset. User can not transfer variants from this asset to the one specified by transferToAssetId. "
            },
            "401" : {
              "description" : "User is not logged in"
            },
            "400" : {
              "description" : "Asset ID is missing or is a negative integer. stateChange or state are missing.  transferToAssetId is required and is missing or is a negative number."
            },
            "409" : {
              "description" : "Asset specified by transferToAssetId is variant"
            }
          }
        }
      
      }
    },
    "definitions": {
        "json_AbstractMpSavedViewRestDto" : {
            "type" : "object",
            "title" : "AbstractMpSavedViewRestDto",
                "properties" : {
                  "@type" : {
                  "readOnly" : false,
      "description" : "The JSON object type.",
      "type" : "string"
                  },
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "criteria" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "modifiedOn" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "widgets" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_ViewWidgetRestDto"
      }
                  }
                },
            "example" : {
        "@type" : "...",
        "id" : 12345,
        "criteria" : "...",
        "modifiedOn" : 12345,
        "widgets" : [ {
          "id" : 12345,
          "name" : "...",
          "label" : "...",
          "position" : 12345,
          "visible" : true,
          "fields" : [ {
            "id" : 12345,
            "type" : "...",
            "label" : "...",
            "name" : "...",
            "position" : 12345,
            "visible" : true
          }, {
            "id" : 12345,
            "type" : "...",
            "label" : "...",
            "name" : "...",
            "position" : 12345,
            "visible" : true
          } ]
        }, {
          "id" : 12345,
          "name" : "...",
          "label" : "...",
          "position" : 12345,
          "visible" : true,
          "fields" : [ {
            "id" : 12345,
            "type" : "...",
            "label" : "...",
            "name" : "...",
            "position" : 12345,
            "visible" : true
          }, {
            "id" : 12345,
            "type" : "...",
            "label" : "...",
            "name" : "...",
            "position" : 12345,
            "visible" : true
          } ]
        } ]
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_AbstractResponseRestDto" : {
            "type" : "object",
            "title" : "AbstractResponseRestDto",
                "properties" : {
                  "messages" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_MpMessageRestDto"
      }
                  }
                },
            "example" : {
        "messages" : [ {
          "errorId" : "...",
          "message" : "...",
          "params" : {
            "property1" : { },
            "property2" : { }
          }
        }, {
          "errorId" : "...",
          "message" : "...",
          "params" : {
            "property1" : { },
            "property2" : { }
          }
        } ]
      },
            "description" : ""
          }
          ,
          "json_AggregationResultRestDto" : {
            "type" : "object",
            "title" : "AggregationResultRestDto",
                "properties" : {
                  "@type" : {
                  "readOnly" : false,
      "description" : "The JSON object type.",
      "type" : "string"
                  }
                },
            "example" : {
        "@type" : "..."
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_AiBooleanPropertyRestDto" : {
            "type" : "object",
            "title" : "AiBooleanPropertyRestDto",
                "properties" : {
                  "value" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "boolean"
                  },
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "scope" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
                  }
                },
            "example" : {
        "value" : true,
        "name" : "...",
        "scope" : "CUSTOMER"
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_AiDoublePropertyRestDto" : {
            "type" : "object",
            "title" : "AiDoublePropertyRestDto",
                "properties" : {
                  "value" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "scope" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
                  }
                },
            "example" : {
        "value" : 12345.0,
        "name" : "...",
        "scope" : "DEFAULT"
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_AiIntegerPropertyRestDto" : {
            "type" : "object",
            "title" : "AiIntegerPropertyRestDto",
                "properties" : {
                  "value" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "scope" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
                  }
                },
            "example" : {
        "value" : 12345,
        "name" : "...",
        "scope" : "CUSTOMER"
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_AiPropertyRestDto" : {
            "type" : "object",
            "title" : "AiPropertyRestDto",
                "properties" : {
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "scope" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
                  }
                },
            "example" : {
        "name" : "...",
        "scope" : "DEFAULT"
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_AiPropertyScopeRestDto" : {
            "type" : "string",
            "title" : "AiPropertyScopeRestDto",
                "enum" : [
                  "DEFAULT",
                  "CUSTOMER"
                ],
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate"
          }
          ,
          "json_AiTaggingServiceStateRestDto" : {
            "type" : "string",
            "title" : "AiTaggingServiceStateRestDto",
                "enum" : [
                  "RUNNING",
                  "PAUSED",
                  "STOPPED",
                  "FINISHED"
                ],
            "description" : ""
          }
          ,
          "json_AiTaggingStateResponseRestDto" : {
            "type" : "object",
            "title" : "AiTaggingStateResponseRestDto",
                "properties" : {
                  "currentState" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AiTaggingServiceStateRestDto"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "currentState" : "RUNNING",
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "SEE_OTHER",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AndCriteriaRestDto" : {
            "type" : "object",
            "title" : "AndCriteriaRestDto",
            "required" : ["subs"],
                "properties" : {
                  "@type" : {
                  "readOnly" : false,
      "description" : "The JSON object type.",
      "type" : "string"
                  },
                  "subs" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_SearchCriteriaRestDto"
      }
                  }
                },
            "example" : {
        "@type" : "and",
        "subs" : [ {
          "@type" : "..."
        }, {
          "@type" : "..."
        } ]
      },
            "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
          }
          ,
          "json_ArchiveEntryRequestDto" : {
            "type" : "object",
            "title" : "ArchiveEntryRequestDto",
                "properties" : {
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "size" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "asset_id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "archive_path" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  }
                },
            "example" : {
        "name" : "...",
        "size" : 12345,
        "asset_id" : 12345,
        "archive_path" : "..."
      },
            "description" : ""
          }
          ,
          "json_ArchiveEntryRequestParameter" : {
            "type" : "object",
            "title" : "ArchiveEntryRequestParameter",
                "properties" : {
                  "assetId" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "versionNumber" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "archive_entries" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_ArchiveEntryRequestDto"
      }
                  }
                },
            "example" : {
        "assetId" : 12345,
        "versionNumber" : 12345,
        "archive_entries" : [ {
          "name" : "...",
          "size" : 12345,
          "asset_id" : 12345,
          "archive_path" : "..."
        }, {
          "name" : "...",
          "size" : 12345,
          "asset_id" : 12345,
          "archive_path" : "..."
        } ]
      },
            "description" : ""
          }
          ,
          "json_ArchiveEntryRestDto" : {
            "type" : "object",
            "title" : "ArchiveEntryRestDto",
                "properties" : {
                  "creation_date" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  },
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "size" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "asset_id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "archive_path" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  }
                },
            "example" : {
        "creation_date" : 12345,
        "id" : 12345,
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "REQUEST_URI_TOO_LONG",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        },
        "name" : "...",
        "size" : 12345,
        "asset_id" : 12345,
        "archive_path" : "..."
      },
            "description" : ""
          }
          ,
          "json_AssetBaseRestDto" : {
            "type" : "object",
            "title" : "AssetBaseRestDto",
                "properties" : {
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "id" : 12345,
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "CREATED",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AssetCollectionRequestRestDto" : {
            "type" : "object",
            "title" : "AssetCollectionRequestRestDto",
                "properties" : {
                  "assetIds" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_IdRestDtoOfInteger"
      }
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "assetIds" : [ {
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "SERVICE_UNAVAILABLE",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "id" : 12345
        }, {
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "PARTIAL_CONTENT",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "id" : 12345
        } ],
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "PARTIAL_CONTENT",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AssetCountryRestDto" : {
            "type" : "object",
            "title" : "AssetCountryRestDto",
                "properties" : {
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "object"
                  },
                  "name" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "id" : { },
        "name" : "...",
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "EXPECTATION_FAILED",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AssetDetailsAttributeRestDto" : {
            "type" : "object",
            "title" : "AssetDetailsAttributeRestDto",
                "properties" : {
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "object"
                  },
                  "label" : {
                  "readOnly" : false,
      "description" : "attribute label",
      "type" : "string"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  },
                  "type" : {
                  "readOnly" : false,
      "description" : "attribute type",
      "type" : "string"
                  },
                  "position" : {
                  "readOnly" : false,
      "description" : "attribute position in the section",
      "type" : "number"
                  }
                },
            "example" : {
        "id" : { },
        "label" : "...",
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "USE_PROXY",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        },
        "type" : "...",
        "position" : 12345
      },
            "description" : ""
          }
          ,
          "json_AssetDetailsSectionRestDto" : {
            "type" : "object",
            "title" : "AssetDetailsSectionRestDto",
                "properties" : {
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "object"
                  },
                  "label" : {
                  "readOnly" : false,
      "description" : "(String) user localized section label",
      "type" : "string"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  },
                  "attributes" : {
                  "readOnly" : false,
      "description" : "List of section attributes",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_AssetDetailsAttributeRestDto"
      }
                  }
                },
            "example" : {
        "id" : { },
        "label" : "...",
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "METHOD_NOT_ALLOWED",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        },
        "attributes" : [ {
          "id" : { },
          "label" : "...",
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "NO_CONTENT",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "type" : "...",
          "position" : 12345
        }, {
          "id" : { },
          "label" : "...",
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "NOT_IMPLEMENTED",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "type" : "...",
          "position" : 12345
        } ]
      },
            "description" : ""
          }
          ,
          "json_AssetDownloadApprovalDataRestDto" : {
            "type" : "object",
            "title" : "AssetDownloadApprovalDataRestDto",
                "properties" : {
                  "approve" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "boolean"
                  },
                  "approveDescription" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "approve" : true,
        "approveDescription" : "...",
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "BAD_REQUEST",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AssetDownloadHistoryRestDto" : {
            "type" : "object",
            "title" : "AssetDownloadHistoryRestDto",
                "properties" : {
                  "downloaderUserName" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "id" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "object"
                  },
                  "downloadDate" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "downloaderUserName" : "...",
        "id" : { },
        "downloadDate" : 12345,
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "FORBIDDEN",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AssetDownloadLinkRequestParameter" : {
            "type" : "object",
            "title" : "AssetDownloadLinkRequestParameter",
                "properties" : {
                  "asset" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AssetRestDto"
                  },
                  "download_scheme" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_DownloadSchemesRestDto"
                  },
                  "language" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "download_version" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "string"
                  },
                  "license_confirmation" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_LicenseConfirmationDto"
                  }
                },
            "example" : {
        "asset" : {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "TEMPORARY_REDIRECT",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "countries" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadDate" : 12345,
          "actualVersionNumber" : 12345,
          "averageRating" : 12345.0,
          "affiliateNumber" : "...",
          "owner" : {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          },
          "vdb" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "description" : "...",
          "division" : {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          },
          "editState" : true,
          "hideIfNotValid" : true,
          "keywords" : "...",
          "lastUpdatedTime" : 12345,
          "language" : {
            "id" : { },
            "name" : "...",
            "code" : "...",
            "language" : "...",
            "messageDto" : { }
          },
          "assetTitle" : "...",
          "popularity" : 12345,
          "publishFrom" : 12345,
          "publishTo" : 12345,
          "validFrom" : 12345,
          "validTo" : 12345,
          "versionCount" : 12345,
          "platform" : "...",
          "downloadApprovalData" : {
            "approve" : true,
            "approveDescription" : "...",
            "messageDto" : { }
          },
          "themes" : [ {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "text" : "...",
            "messageDto" : { }
          } ],
          "watchers" : [ {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "division" : { },
            "messageDto" : { }
          } ],
          "variantsCount" : 12345,
          "variants" : [ {
            "id" : { },
            "messageDto" : { }
          }, {
            "id" : { },
            "messageDto" : { }
          } ],
          "masterAsset" : {
            "messageDto" : { },
            "id" : 12345
          },
          "customProperties" : {
            "property1" : "...",
            "property2" : "..."
          },
          "isins" : "...",
          "hiRes" : true,
          "suitableForW2P" : true,
          "relationsCount" : 12345,
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "freeFields" : [ {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          }, {
            "type" : 12345,
            "id" : { },
            "value" : "...",
            "name" : "...",
            "messageDto" : { }
          } ],
          "programVersion" : "...",
          "resourceVersion" : {
            "id" : { },
            "messageDto" : { },
            "assetId" : 12345,
            "versionNumber" : 12345,
            "insertedTime" : 12345,
            "fontChecked" : true,
            "uploadComments" : "...",
            "uploader" : { },
            "fileResource" : { },
            "official" : true,
            "actionsMask" : 12345
          },
          "persons" : [ {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "firstName" : "...",
            "lastName" : "...",
            "messageDto" : { }
          } ],
          "relations" : [ {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "assetId" : 12345,
            "messageDto" : { }
          } ],
          "structuredKeywords" : [ {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          }, {
            "id" : { },
            "name" : "...",
            "messageDto" : { }
          } ],
          "uploadApprovalData" : {
            "approveState" : "...",
            "responsibleUser" : "...",
            "approveStateType" : "...",
            "messageDto" : { }
          },
          "alternativeImageId" : 12345,
          "channelPublications" : [ {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "CURRENT"
          }, {
            "messageDto" : { },
            "assetId" : 12345,
            "publishingChannelId" : "...",
            "publishFrom" : 12345,
            "publishTo" : 12345,
            "renderingSchemeId" : 12345,
            "licenseId" : 12345,
            "state" : "CURRENT"
          } ]
        },
        "download_scheme" : {
          "id" : { },
          "name" : "...",
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "EXPECTATION_FAILED",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "description" : "...",
          "type" : "...",
          "output_format" : "...",
          "icon_link" : "...",
          "isUsedInChannelPublication" : true
        },
        "language" : "...",
        "download_version" : "...",
        "license_confirmation" : {
          "license" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          },
          "licenseDto" : {
            "id" : { },
            "messageDto" : { },
            "licenseName" : "...",
            "usageInternal" : true,
            "usageOnline" : true,
            "usageExternal" : true,
            "usagePrint" : true,
            "usageAudio" : true,
            "usageVideo" : true,
            "restrictionPersonal" : true,
            "restrictionPersonalText" : "...",
            "restrictionTime" : true,
            "restrictionTimeStart" : 12345,
            "restrictionTimeEnd" : 12345,
            "restrictionRegional" : true,
            "restrictionRegionalText" : "...",
            "restrictionOther" : true,
            "restrictionOtherText" : "...",
            "iconAssetId" : 12345,
            "licenseHolderName" : "...",
            "licenseHolderAddress" : "..."
          }
        }
      },
            "description" : ""
          }
          ,
          "json_AssetDownloadLinkRestDto" : {
            "type" : "object",
            "title" : "AssetDownloadLinkRestDto",
                "properties" : {
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  },
                  "asset" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AssetBaseRestDto"
                  },
                  "download_name" : {
                  "readOnly" : false,
      "description" : "name of the downloaded file",
      "type" : "string"
                  },
                  "download_format" : {
                  "readOnly" : false,
      "description" : "download scheme output format",
      "type" : "string"
                  },
                  "download_url" : {
                  "readOnly" : false,
      "description" : "link for download",
      "type" : "string"
                  },
                  "status" : {
                  "readOnly" : false,
      "description" : "license status :\n<ul>\n<li>OK<\/li>\n<li>LICENSE_CONFIRMATION_MISSING<\/li>\n<\/ul>",
      "type" : "string"
                  }
                },
            "example" : {
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "REQUESTED_RANGE_NOT_SATISFIABLE",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        },
        "asset" : {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "METHOD_NOT_ALLOWED",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          }
        },
        "download_name" : "...",
        "download_format" : "...",
        "download_url" : "...",
        "status" : "..."
      },
            "description" : ""
          }
          ,
          "json_AssetDownloadRequestRestDto" : {
            "type" : "object",
            "title" : "AssetDownloadRequestRestDto",
                "properties" : {
                  "renderingSchemeId" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "number"
                  }
                },
            "example" : {
        "renderingSchemeId" : 12345
      },
            "description" : ""
          }
          ,
          "json_AssetDownloadSchemesRestDto" : {
            "type" : "object",
            "title" : "AssetDownloadSchemesRestDto",
                "properties" : {
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  },
                  "asset" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_AssetBaseRestDto"
                  },
                  "download_schemes" : {
                  "readOnly" : false,
      "description" : "Download schemes object contains schemes data",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_DownloadSchemesRestDto"
      }
                  },
                  "message" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "messageDto" : {
          "message" : "...",
          "type" : "...",
          "code" : "REQUEST_ENTITY_TOO_LARGE",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        },
        "asset" : {
          "id" : 12345,
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "NOT_FOUND",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          }
        },
        "download_schemes" : [ {
          "id" : { },
          "name" : "...",
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "PARTIAL_CONTENT",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "description" : "...",
          "type" : "...",
          "output_format" : "...",
          "icon_link" : "...",
          "isUsedInChannelPublication" : true
        }, {
          "id" : { },
          "name" : "...",
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "PROXY_AUTHENTICATION_REQUIRED",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
          "description" : "...",
          "type" : "...",
          "output_format" : "...",
          "icon_link" : "...",
          "isUsedInChannelPublication" : true
        } ],
        "message" : {
          "message" : "...",
          "type" : "...",
          "code" : "SERVICE_UNAVAILABLE",
          "messageCode" : "...",
          "params" : [ { }, { } ]
        }
      },
            "description" : ""
          }
          ,
          "json_AssetFavouritesResponseRestDto" : {
            "type" : "object",
            "title" : "AssetFavouritesResponseRestDto",
                "properties" : {
                  "assetIds" : {
                  "readOnly" : false,
      "description" : "",
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/json_IdRestDtoOfInteger"
      }
                  },
                  "messageDto" : {
                  "readOnly" : false,
      "$ref" : "#/definitions/json_MessageRestDto"
                  }
                },
            "example" : {
        "assetIds" : [ {
          "messageDto" : {
            "message" : "...",
            "type" : "...",
            "code" : "SEE_OTHER",
            "messageCode" : "...",
            "params" : [ { }, { } ]
          },
[...]
