{
  "swagger": "2.0",
  "info" : {
    "description" : "Web-to-Publish RESTful API Documentation",
    "contact" : {
      "email" : "dev-team-wp@brandmaker.com",
      "name" : "Web-to-Publish"
    },
    "version" : "14.0.1-6.6.0",
    "title" : "Web-to-Publish RESTful Service API"
  },
  "host" : "is-dev2.brandmaker.com",
  "basePath" : "/wp/rest",
  "schemes" : ["https"],
  "tags" : [
    {
      "name" : ""
      ,
      "description" : "Web-to-Publish welcome endpoint."
    }
    ,
    {
      "name" : "\/custom-properties"
    }
    ,
    {
      "name" : "\/custom-properties/_export"
      ,
      "description" : "Exports custom properties."
    }
    ,
    {
      "name" : "\/custom-properties/_import"
      ,
      "description" : "Imports custom properties."
    }
    ,
    {
      "name" : "\/custom-properties/{id}"
    }
    ,
    {
      "name" : "\/custom-properties/{id}/custom-property-values"
    }
    ,
    {
      "name" : "\/custom-property-values"
    }
    ,
    {
      "name" : "\/custom-property-values/{id}"
    }
    ,
    {
      "name" : "\/document-creation-properties"
    }
    ,
    {
      "name" : "\/document-creation/template-selection"
    }
    ,
    {
      "name" : "\/dropdowns/_reset-priorities"
      ,
      "description" : "RESTful resource responsible for dropdowns."
    }
    ,
    {
      "name" : "\/dropdowns/normal/_reset-priorities"
      ,
      "description" : "RESTful resource responsible for dropdowns."
    }
    ,
    {
      "name" : "\/dropdowns/smart/_reset-priorities"
      ,
      "description" : "RESTful resource responsible for dropdowns."
    }
    ,
    {
      "name" : "\/dynamic-services"
      ,
      "description" : "RESTful resource responsible for dynamic services."
    }
    ,
    {
      "name" : "\/dynamic-services/{id}"
      ,
      "description" : "RESTful resource responsible for dynamic services."
    }
    ,
    {
      "name" : "\/dynamic-services/{id}/parameters"
      ,
      "description" : "RESTful sub-resource responsible for dynamic services parameters."
    }
    ,
    {
      "name" : "\/editor-configurations"
      ,
      "description" : "RESTful service for RTE configurations."
    }
    ,
    {
      "name" : "\/editor-configurations/_build"
      ,
      "description" : "Gets RTE toolbar/styles configuration without configuration id."
    }
    ,
    {
      "name" : "\/editor-configurations/{id}"
      ,
      "description" : "RESTful service for RTE configurations."
    }
    ,
    {
      "name" : "\/editor-configurations/{id}/_build"
      ,
      "description" : "Gets RTE toolbar/styles configuration by configuration id."
    }
    ,
    {
      "name" : "\/editor-configurations/{id}/details"
      ,
      "description" : "Gets RTE configuration by id with styles and colors pre-loaded."
    }
    ,
    {
      "name" : "\/editor-styles/_extract"
      ,
      "description" : "Inits the conversion of the INDD file to the IDML file, used for extracting the styles."
    }
    ,
    {
      "name" : "\/editor-styles/_import"
      ,
      "description" : "Imports the selected extracted styles into the DB."
    }
    ,
    {
      "name" : "\/editor-styles/css"
      ,
      "description" : "Generates RTE configured styles' CSS."
    }
    ,
    {
      "name" : "\/editor-styles/extracted-styles"
      ,
      "description" : "Lists the styles from the previously generated IDML file."
    }
    ,
    {
      "name" : "\/editor-styles/extraction-state"
      ,
      "description" : "Checks the process of converting INDD to IDML used for extraction of styles."
    }
    ,
    {
      "name" : "\/editor-styles/resources"
      ,
      "description" : "RESTful service for RTE styles."
    }
    ,
    {
      "name" : "\/editor-styles/resources/{id}"
      ,
      "description" : "RESTful service for RTE styles."
    }
    ,
    {
      "name" : "\/instances"
      ,
      "description" : "Deletes instances by ids."
    }
    ,
    {
      "name" : "\/instances/_copy"
      ,
      "description" : "Copy given instance."
    }
    ,
    {
      "name" : "\/instances/_equals"
      ,
      "description" : "Checks whether two instances are identical."
    }
    ,
    {
      "name" : "\/instances/_index"
      ,
      "description" : "Creates indexes of all of the instances."
    }
    ,
    {
      "name" : "\/instances/_search"
      ,
      "description" : "RESTful resource responsible for searching instances."
    }
    ,
    {
      "name" : "\/instances/_suggest"
      ,
      "description" : "RESTful resource responsible for searching instances."
    }
    ,
    {
      "name" : "\/instances/approved"
      ,
      "description" : "Gets instances with status \"approved\"."
    }
    ,
    {
      "name" : "\/instances/approved/my"
      ,
      "description" : "Gets my instances with status \"approved\"."
    }
    ,
    {
      "name" : "\/instances/boxes/{id}"
      ,
      "description" : "RESTful sub-resource responsible for instance boxes."
    }
    ,
    {
      "name" : "\/instances/finalized"
      ,
      "description" : "Gets instances with status \"finalized\"."
    }
    ,
    {
      "name" : "\/instances/finalized/my"
      ,
      "description" : "Gets my instances with status \"finalized\"."
    }
    ,
    {
      "name" : "\/instances/in-work/my"
      ,
      "description" : "Gets my instances with status \"in work\"."
    }
    ,
    {
      "name" : "\/instances/newest"
      ,
      "description" : "Gets recently created instances."
    }
    ,
    {
      "name" : "\/instances/oldest"
      ,
      "description" : "Gets the oldest instances."
    }
    ,
    {
      "name" : "\/instances/rejected/my"
      ,
      "description" : "Gets my instances with status \"rejected\"."
    }
    ,
    {
      "name" : "\/instances/waiting-approval/my"
      ,
      "description" : "Gets my instances with status \"waiting approval\"."
    }
    ,
    {
      "name" : "\/instances/{id}"
      ,
      "description" : "RESTful resource responsible for instances."
    }
    ,
    {
      "name" : "\/instances/{id}/_archive"
      ,
      "description" : "Archives an instance."
    }
    ,
    {
      "name" : "\/instances/{id}/_index"
      ,
      "description" : "Creates an index of an instance."
    }
    ,
    {
      "name" : "\/instances/{id}/_unarchive"
      ,
      "description" : "Unarchives an instance."
    }
    ,
    {
      "name" : "\/instances/{id}/dropdown-values"
      ,
      "description" : "Get dropdownvalues for instance with smartBlocks or smartPages."
    }
    ,
    {
      "name" : "\/instances/{id}/locales"
    }
    ,
    {
      "name" : "\/instances/{id}/preview"
      ,
      "description" : "Gets instance preview."
    }
    ,
    {
      "name" : "\/jobs/{id}"
      ,
      "description" : "Checks the result from the job by given job id."
    }
    ,
    {
      "name" : "\/l10n-locales"
    }
    ,
    {
      "name" : "\/maps/attachments"
      ,
      "description" : "Gets MaPS attachment(s) by given document id(s)."
    }
    ,
    {
      "name" : "\/meta-templates"
      ,
      "description" : "RESTful resource responsible for meta templates."
    }
    ,
    {
      "name" : "\/meta-templates/{id}"
      ,
      "description" : "RESTful resource responsible for meta templates."
    }
    ,
    {
      "name" : "\/meta-templates/{id}/templates"
      ,
      "description" : "RESTful resource responsible for templates which are included in a meta template."
    }
    ,
    {
      "name" : "\/page-size-group-visibility-options"
    }
    ,
    {
      "name" : "\/page-size-groups"
    }
    ,
    {
      "name" : "\/page-size-groups/{id}"
    }
    ,
    {
      "name" : "\/page-size-groups/{id}/page-size-group-visibility"
    }
    ,
    {
      "name" : "\/page-size-groups/{id}/page-sizes"
    }
    ,
    {
      "name" : "\/page-sizes/_export"
      ,
      "description" : "Exports sizes."
    }
    ,
    {
      "name" : "\/page-sizes/_import"
      ,
      "description" : "Imports sizes."
    }
    ,
    {
      "name" : "\/page-sizes/{id}"
    }
    ,
    {
      "name" : "\/ping"
      ,
      "description" : "Simple ping/pong resources for Web-to-Publish RESTFul resources."
    }
    ,
    {
      "name" : "\/printing-offices"
      ,
      "description" : "Gets all printing offices."
    }
    ,
    {
      "name" : "\/printing-offices/{id}"
      ,
      "description" : "Gets a printing office by id."
    }
    ,
    {
      "name" : "\/renderers"
      ,
      "description" : "RESTful resource responsible for output methods."
    }
    ,
    {
      "name" : "\/renderers/{id}"
      ,
      "description" : "RESTful resource responsible for output methods."
    }
    ,
    {
      "name" : "\/renderers/{id}/_make-active"
      ,
      "description" : "Activates or deactivates an output method."
    }
    ,
    {
      "name" : "\/renderers/{id}/_move-to-position"
      ,
      "description" : "Changes the position of an output method."
    }
    ,
    {
      "name" : "\/search-filter-properties"
    }
    ,
    {
      "name" : "\/search-filters/instances"
      ,
      "description" : "RESTful resource responsible for search fields."
    }
    ,
    {
      "name" : "\/search-filters/templates"
      ,
      "description" : "RESTful resource responsible for search fields."
    }
    ,
    {
      "name" : "\/tables"
      ,
      "description" : "RESTful service for dealing with template and instance tables."
    }
    ,
    {
      "name" : "\/tables/{tableId}"
      ,
      "description" : "RESTful service for dealing with template and instance tables."
    }
    ,
    {
      "name" : "\/templates"
      ,
      "description" : "RESTful resource responsible for templates."
    }
    ,
    {
      "name" : "\/templates/_index"
      ,
      "description" : "Creates indexes of all of the templates."
    }
    ,
    {
      "name" : "\/templates/_rescan"
      ,
      "description" : "Rescan Templates."
    }
    ,
    {
      "name" : "\/templates/_search"
      ,
      "description" : "RESTful resource responsible for searching templates."
    }
    ,
    {
      "name" : "\/templates/_suggest"
      ,
      "description" : "RESTful resource responsible for searching templates."
    }
    ,
    {
      "name" : "\/templates/_testInstances"
      ,
      "description" : "RESTful resource responsible for some templates/instances testing."
    }
    ,
    {
      "name" : "\/templates/_testInstancesIm"
      ,
      "description" : "RESTful resource responsible for some templates/instances testing."
    }
    ,
    {
      "name" : "\/templates/_testTemplates"
      ,
      "description" : "RESTful resource responsible for some templates/instances testing."
    }
    ,
    {
      "name" : "\/templates/_testTemplatesIm"
      ,
      "description" : "RESTful resource responsible for some templates/instances testing."
    }
    ,
    {
      "name" : "\/templates/favorites"
      ,
      "description" : "RESTful resource for dealing with templates' favorites."
    }
    ,
    {
      "name" : "\/templates/favorites/{id}"
      ,
      "description" : "Deletes template from user's favorite templates."
    }
    ,
    {
      "name" : "\/templates/newest"
      ,
      "description" : "Gets templates which are recently created."
    }
    ,
    {
      "name" : "\/templates/recently-used"
      ,
      "description" : "Gets my templates which are recently used for documents."
    }
    ,
    {
      "name" : "\/templates/smart-grids"
      ,
      "description" : "RESTful resource responsible for smart grids."
    }
    ,
    {
      "name" : "\/templates/{id}"
      ,
      "description" : "RESTful resource responsible for templates."
    }
    ,
    {
      "name" : "\/templates/{id}/_archive"
      ,
      "description" : "Archives a template."
    }
    ,
    {
      "name" : "\/templates/{id}/_calculate-instance-size"
    }
    ,
    {
      "name" : "\/templates/{id}/_check-auto_configuration"
      ,
      "description" : "RESTful resource responsible for template autoconfiguration."
    }
    ,
    {
      "name" : "\/templates/{id}/_export"
      ,
      "description" : "Exports template by given template id."
    }
    ,
    {
      "name" : "\/templates/{id}/_import"
      ,
      "description" : "Imports template configuration stored in a xml file."
    }
    ,
    {
      "name" : "\/templates/{id}/_index"
      ,
      "description" : "Creates an index of a template."
    }
    ,
    {
      "name" : "\/templates/{id}/_start-auto_configuration"
      ,
      "description" : "Starts template auto configurations."
    }
    ,
    {
      "name" : "\/templates/{id}/_stop-auto_configuration"
      ,
      "description" : "RESTful resource responsible for template autoconfiguration."
    }
    ,
    {
      "name" : "\/templates/{id}/_unarchive"
      ,
      "description" : "Unarchives a template."
    }
    ,
    {
      "name" : "\/templates/{id}/_validate-instance-size"
    }
    ,
    {
      "name" : "\/templates/{id}/dropdowns"
      ,
      "description" : "RESTful resource responsible for dropdowns."
    }
    ,
    {
      "name" : "\/templates/{id}/dropdowns/_reset-priorities"
      ,
      "description" : "RESTful resource responsible for dropdowns."
    }
    ,
    {
      "name" : "\/templates/{id}/dropdowns/selection"
      ,
      "description" : "Gets the initial selection of dropdown values on zero page for a template."
    }
    ,
    {
      "name" : "\/templates/{id}/dropdowns/{dropdownId}/selection"
      ,
      "description" : "Loads the options/selected value/default value for the current dropdown and its descendants."
    }
    ,
    {
      "name" : "\/templates/{id}/import-progress"
      ,
      "description" : "Gets the progress of the import operation for a specific template."
    }
    ,
    {
      "name" : "\/templates/{id}/instances"
      ,
      "description" : "Creates an instance based on a specific template."
    }
    ,
    {
      "name" : "\/templates/{id}/instances/locales"
    }
    ,
    {
      "name" : "\/templates/{id}/preview"
      ,
      "description" : "Gets template preview."
    }
    ,
    {
      "name" : "\/templates/{id}/smart-groups"
      ,
      "description" : "RESTful sub-resource responsible for smart groups."
    }
    ,
    {
      "name" : "\/workflow-comments"
      ,
      "description" : "RESTful resource responsible for templates."
    }
    ,
    {
      "name" : "\/{missingResource}"
      ,
      "description" : "RESTFul service dealing with requests not matched by any other endpoint."
    }
  ],
  "definitions" : {
    "json_AbstractDTO" : {
      "type" : "object",
      "title" : "AbstractDTO",
      "example" : { },
      "description" : ""
    }
    ,
    "json_AddedInstancePageResult" : {
      "type" : "object",
      "title" : "AddedInstancePageResult",
          "properties" : {
            "templatePageId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "templateId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "instancePage" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_InstancePage"
            }
          },
      "example" : {
  "templatePageId" : 12345,
  "templateId" : 12345,
  "instancePage" : {
    "id" : 12345,
    "logicalPage" : 12345,
    "physicalPage" : 12345,
    "smartPage" : true,
    "smartBlockIds" : [ 12345, 12345 ]
  }
},
      "description" : ""
    }
    ,
    "json_AdvertTableRowType" : {
      "type" : "string",
      "title" : "AdvertTableRowType",
          "enum" : [
            "BODY_ROW",
            "HEADER_ROW",
            "FOOTER_ROW"
          ],
      "description" : ""
    }
    ,
    "json_AdvertTemplateCharacterStyleProperties" : {
      "type" : "string",
      "title" : "AdvertTemplateCharacterStyleProperties",
          "enum" : [
            "CS_NAME",
            "CS_FONT_FAMILY",
            "CS_FONT_SIZE",
            "CS_FONT_WEIGHT",
            "CS_FONT_COLOR",
            "CS_MARGIN_BOTTOM"
          ],
      "description" : ""
    }
    ,
    "json_AdvertTemplateColorsProperties" : {
      "type" : "string",
      "title" : "AdvertTemplateColorsProperties",
          "enum" : [
            "CL_NAME",
            "CL_RGB_COLOR"
          ],
      "description" : ""
    }
    ,
    "json_AdvertTemplateParagraphStyleProperties" : {
      "type" : "string",
      "title" : "AdvertTemplateParagraphStyleProperties",
          "enum" : [
            "PS_NAME",
            "PS_FONT_FAMILY",
            "PS_FONT_SIZE",
            "PS_FONT_WEIGHT",
            "PS_FONT_COLOR",
            "PS_MARGIN_BOTTOM"
          ],
      "description" : ""
    }
    ,
    "json_AdvertTemplateTableCellStyleProperties" : {
      "type" : "string",
      "title" : "AdvertTemplateTableCellStyleProperties",
          "enum" : [
            "TC_NAME",
            "TC_FILL_COLOR_NAME",
            "TC_FILL_COLOR_TINT",
            "TC_STROKE_COLOR_NAME",
            "TC_STROKE_COLOR_WEIGHT",
            "TC_STROKE_COLOR_TINT",
            "TC_PARA_STYLE",
            "TC_VERTICAL_ALIGN"
          ],
      "description" : ""
    }
    ,
    "json_AdvertTemplateTableStyleProperties" : {
      "type" : "string",
      "title" : "AdvertTemplateTableStyleProperties",
          "enum" : [
            "T_NAME",
            "T_FILL_ALT_COUNT1",
            "T_FILL_ALT_COUNT2",
            "T_FILL_ALT_COLOR1",
            "T_FILL_ALT_COLOR2",
            "T_FILL_ALT_SKIP1",
            "T_FILL_ALT_SKIP2",
            "T_FILL_ALT_TINT1",
            "T_FILL_ALT_TINT2",
            "T_FILL_ALT_ROW"
          ],
      "description" : ""
    }
    ,
    "json_AnnotationLiteral" : {
      "type" : "object",
      "title" : "AnnotationLiteral",
      "example" : { },
      "description" : ""
    }
    ,
    "json_Asset" : {
      "type" : "object",
      "title" : "Asset",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "version" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "title" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "crop" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Crop"
            }
          },
      "example" : {
  "id" : 12345,
  "version" : 12345,
  "title" : "...",
  "crop" : {
    "left" : 12345,
    "top" : 12345,
    "right" : 12345,
    "bottom" : 12345
  }
},
      "description" : ""
    }
    ,
    "json_AssignDocument" : {
      "type" : "object",
      "title" : "AssignDocument",
      "example" : { },
      "description" : ""
    }
    ,
    "json_AssignHtmlArchive" : {
      "type" : "object",
      "title" : "AssignHtmlArchive",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AssignDocument"
        },
        {
          "properties" : {
            "htmlArchive" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "example" : {
  "htmlArchive" : "..."
},
      "description" : ""
    }
    ,
    "json_AssignInddDocument" : {
      "type" : "object",
      "title" : "AssignInddDocument",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_AssignDocument"
        },
        {
          "properties" : {
            "assetId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          }
        }
      ],
      "example" : {
  "assetId" : 12345
},
      "description" : ""
    }
    ,
    "json_BaseEntity" : {
      "type" : "object",
      "title" : "BaseEntity",
      "example" : { },
      "description" : ""
    }
    ,
    "json_Beautifier" : {
      "type" : "object",
      "title" : "Beautifier",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "beautifierType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BeautifierType"
            },
            "beautifierRegexp" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "beautifierReplace" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "configurationId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "id" : 12345,
  "beautifierType" : "DEFAULT",
  "beautifierRegexp" : "...",
  "beautifierReplace" : "...",
  "position" : 12345,
  "configurationId" : 12345,
  "name" : "..."
},
      "description" : ""
    }
    ,
    "json_Beautifier_wp" : {
      "type" : "object",
      "title" : "Beautifier",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "beautifierType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_BeautifierType"
            },
            "beautifierRegexp" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "beautifierReplace" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "configurationId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "name" : "...",
  "beautifierType" : "DEFAULT",
  "beautifierRegexp" : "...",
  "beautifierReplace" : "...",
  "position" : 12345,
  "configurationId" : 12345
},
      "description" : ""
    }
    ,
    "json_BeautifierType" : {
      "type" : "string",
      "title" : "BeautifierType",
          "enum" : [
            "DEFAULT",
            "CUSTOM"
          ],
      "description" : ""
    }
    ,
    "json_BoxDifference" : {
      "type" : "object",
      "title" : "BoxDifference",
          "properties" : {
            "changeType" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DifferenceChangeType"
            },
            "applyChange" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DifferenceApplyChanges"
            },
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "physicalNumber" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "tagText" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "tagTextOriginal" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "lCount" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "boxX" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "boxY" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "boxWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "boxHeight" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "boxAngle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picAngle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picNameOriginal" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picHeight" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picXPos" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picYPos" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picXScale" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "picYScale" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "pStyle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "font" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "fSize" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "fColor" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "fHScale" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "fTrack" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "lineStartX" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "lineStartY" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "lineEndX" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "lineEndY" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "colCount" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "leftIndent" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "linkedBox" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "pStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "cStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "colors" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "strokeWeight" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "zOrder" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "tagText2" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "tagText2Original" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "placeHolders" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "exported" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "layer" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "layerOriginal" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "zOrderInLayer" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "zOrderInLayerOriginal" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "instancePage" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_InstancePage_wp"
            },
            "instance" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Instance_wp"
            }
          },
      "example" : {
  "changeType" : "DELETED",
  "applyChange" : "APPLY",
  "instanceId" : 12345,
  "physicalNumber" : 12345,
  "name" : "...",
  "type" : "...",
  "tagText" : "...",
  "tagTextOriginal" : "...",
  "lCount" : 12345,
  "boxX" : "...",
  "boxY" : "...",
  "boxWidth" : "...",
  "boxHeight" : "...",
  "boxAngle" : "...",
  "picAngle" : "...",
  "picName" : "...",
  "picNameOriginal" : "...",
  "picWidth" : "...",
  "picHeight" : "...",
  "picXPos" : "...",
  "picYPos" : "...",
  "picXScale" : "...",
  "picYScale" : "...",
  "pStyle" : "...",
  "font" : "...",
  "fSize" : "...",
  "fColor" : "...",
  "fHScale" : "...",
  "fTrack" : "...",
  "lineStartX" : "...",
  "lineStartY" : "...",
  "lineEndX" : "...",
  "lineEndY" : "...",
  "colCount" : 12345,
  "leftIndent" : "...",
  "linkedBox" : "...",
  "pStyles" : "...",
  "cStyles" : "...",
  "colors" : "...",
  "strokeWeight" : "...",
  "zOrder" : 12345,
  "tagText2" : "...",
  "tagText2Original" : "...",
  "placeHolders" : "...",
  "exported" : true,
  "layer" : "...",
  "layerOriginal" : "...",
  "zOrderInLayer" : 12345,
  "zOrderInLayerOriginal" : 12345,
  "instancePage" : {
    "requestedWidthInMM" : 12345.0,
    "boxDifferences" : {
      "empty" : true
    },
    "smartBlocks" : {
      "empty" : true
    },
    "templatePage" : {
      "templateBoxes" : { },
      "templateDropdowns" : { },
      "smartBlocks" : { },
      "templatePageId" : 12345,
      "pageLayout" : { },
      "pageWidth" : 12345.0,
      "gridAreaId" : 12345,
      "logicalNumber" : 12345,
      "templateSections" : { },
      "templateId" : 12345,
      "physicalNumber" : 12345,
      "masterPageName" : "...",
      "smartBlock" : true,
      "template" : { },
      "smartPages" : { },
      "instancePages" : { },
      "master" : true,
      "pageHeight" : 12345.0
    },
    "instanceVariableValues" : {
      "empty" : true
    },
    "physicalPage" : 12345,
    "requestedWidth" : 12345.0,
    "heightInPx" : 12345,
    "heightInMM" : 12345.0,
    "physicalNumber" : 12345,
    "instanceBoxes" : {
      "empty" : true
    },
    "templateSectionId" : 12345,
    "widthInPx" : 12345,
    "instancePagePreviews" : {
      "empty" : true
    },
    "logicalPage" : 12345,
    "pageDifference" : {
      "instanceId" : 12345,
      "pageWidthInMM" : 12345.0,
      "originalPageHeight" : 12345.0,
      "originalPageWidth" : 12345.0,
      "physicalNumber" : 12345,
      "originalPageWidthInMM" : 12345.0,
      "changeType" : "MODIFIED",
      "pageHeight" : 12345.0,
      "pageHeightInMM" : 12345.0,
      "applyChange" : "APPLY",
      "instancePage" : { },
      "pageWidth" : 12345.0,
      "originalPageHeightInMM" : 12345.0
    },
    "requestedHeightInPx" : 12345,
    "instance" : {
      "unlimited" : true,
      "instanceUsageType" : 123456,
      "onlyGrayscale" : true,
      "started" : true,
      "productThemeIds" : [ 12345, 12345 ],
      "updateDate" : 12345,
      "editTemplateLayouts" : true,
      "BLZ" : "...",
      "description" : "...",
      "layerDifferences" : { },
      "width" : 12345.0,
      "validDateFrom" : "...",
      "expired" : true,
      "outputFormat" : 12345,
      "publishInstanceData" : { },
      "logicalPageConfiguration" : "...",
      "instancePageMediaPreviews" : { },
      "cut" : 12345,
      "templateId" : 12345,
      "workflowObjectId" : 12345,
      "creatorId" : 12345,
      "processedSteps" : 12345,
      "modifierId" : 12345,
      "instanceApplication" : 123456,
      "hasPagePreviews" : true,
      "templateDropdownValues" : { },
      "instanceCounters" : { },
      "advancedSheetConfiguration" : "...",
      "creationDate" : 12345,
      "approvalRequestComments" : "...",
      "scale" : 12345.0,
      "instanceLocales" : { },
      "bleedingWidth" : "...",
      "template" : { },
      "publishedAssets" : { },
      "distortVertical" : 12345,
      "archived" : true,
      "publishedInMediaPool" : true,
      "instancePages" : { },
      "mediaPoolPublishable" : true,
      "reusedFromDocumentId" : 12345,
      "height" : 12345.0,
      "boxDifferences" : { },
      "approverId" : 12345,
      "status" : 123456,
      "title" : "...",
      "sheetConfiguration" : "...",
      "valid" : true,
      "instanceVariableValues" : { },
      "documentLocaleId" : 12345,
      "currentProccessingStep" : "DOCUMENT_SIZE",
      "rendererId" : 12345,
      "validDateTo" : "...",
      "number" : "...",
      "mediaToPublish" : 12345,
      "dpi" : 12345,
      "globalSpreadConfiguration" : 12345,
      "distort" : 12345
    },
    "height" : 12345.0,
    "instanceId" : 12345,
    "widthInMM" : 12345.0,
    "templateSection" : {
      "template" : { },
      "allowDeletionOfOriginalPgs" : true,
      "instancePages" : { },
      "allowOnlyValidSp" : true,
      "masterPage" : { },
      "spKeyword" : "...",
      "templateId" : 12345,
      "position" : 12345,
      "allowedTemplatePages" : { },
      "pageBlockSize" : 12345,
      "templateSectionId" : 12345,
      "name" : "...",
      "maxPages" : 12345,
      "spPositioning" : 12345,
      "minPages" : 12345,
      "smartPages" : { }
    },
    "templatePageId" : 12345,
    "width" : 12345.0,
    "requestedHeight" : 12345.0,
    "requestedWidthInPx" : 12345,
    "smartPage" : true,
    "logicalNumber" : 12345,
    "requestedHeightInMM" : 12345.0,
    "lastUpdateTime" : 12345
  },
  "instance" : {
    "unlimited" : true,
    "instanceUsageType" : 123456,
    "onlyGrayscale" : true,
    "started" : true,
    "productThemeIds" : [ 12345, 12345 ],
    "updateDate" : 12345,
    "editTemplateLayouts" : true,
    "BLZ" : "...",
    "description" : "...",
    "layerDifferences" : {
      "empty" : true
    },
    "width" : 12345.0,
    "validDateFrom" : "...",
    "expired" : true,
    "outputFormat" : 12345,
    "publishInstanceData" : {
      "empty" : true
    },
    "logicalPageConfiguration" : "...",
    "instancePageMediaPreviews" : {
      "empty" : true
    },
    "cut" : 12345,
    "templateId" : 12345,
    "workflowObjectId" : 12345,
    "creatorId" : 12345,
    "processedSteps" : 12345,
    "modifierId" : 12345,
    "instanceApplication" : 123456,
    "hasPagePreviews" : true,
    "templateDropdownValues" : {
      "empty" : true
    },
    "instanceCounters" : {
      "empty" : true
    },
    "advancedSheetConfiguration" : "...",
    "creationDate" : 12345,
    "approvalRequestComments" : "...",
    "scale" : 12345.0,
    "instanceLocales" : {
      "empty" : true
    },
    "bleedingWidth" : "...",
    "template" : {
      "themeIds" : [ 12345, 12345 ],
      "designerAgencyName" : "...",
      "unlimited" : true,
      "usableAsSmartBlock" : true,
      "templateType" : 12345,
      "customPropertyValues" : { },
      "templateCounters" : { },
      "canUseSmartLibrary" : true,
      "atTableStyles" : "...",
      "documentGridMaxSize" : 12345.0,
      "atCstyles" : "...",
      "workflowObjectId" : 12345,
      "htmlTemplate" : true,
      "productThemeIds" : [ 12345, 12345 ],
      "pageDivisibility" : 12345,
      "createDate" : 12345,
      "type" : "...",
      "currentPageCount" : 12345,
      "atAdvancedSheetCfg" : "...",
      "scaleHeightMaxPercent" : 12345.0,
      "mandatoryDocumentSteps" : 12345,
      "preselectedOutputMethod" : { },
      "templateText" : "...",
      "previewId" : 12345,
      "distortVerticalMax" : 12345,
      "outputFormat" : "singlePage",
      "colors" : 12345,
      "customerName" : "...",
      "scaleWidthMax" : 12345.0,
      "pimConnectionType" : 12345,
      "atPstyles" : "...",
      "templateSections" : { },
      "templateBoxesStream" : { },
      "preselectedRendererId" : 12345,
      "useProductThemeFiltering" : true,
      "instances" : { },
      "originalPreviewId" : 12345,
      "sourceMediaGuid" : 12345,
      "rejectDescription" : "...",
      "allowsGrayscale" : true,
      "documentGridMinSize" : 12345.0,
      "contactPersonId" : 12345,
      "scaleHeightMinPercent" : 12345.0,
      "revised" : true,
      "userCanApprove" : true,
      "canExportImport" : true,
      "multiMassPersonalization" : true,
      "pageCount" : 12345,
      "dateFrom" : "...",
      "atSpreadGlobalCfg" : 12345,
      "scaleHeightMax" : 12345.0,
      "format" : 12345,
      "scaleHeightMin" : 12345.0,
      "preselectedOutputFormat" : "both",
      "previewVersion" : 12345,
      "hyphenationDropdown" : 12345,
      "scaleWidthMin" : 12345.0,
      "dirtyMediaBoxHandling" : "dontSearch",
      "textBoxesStream" : { },
      "atOriginalWidth" : 12345.0,
      "scaleWidthMaxPercent" : 12345.0,
      "hyphenationDropdownAndAttribute" : "...",
      "limitDistortion" : true,
      "minimumDpi" : 12345,
      "currentProcessingStep" : 12345,
      "alternativeTexts" : { },
      "databaseId" : 12345,
      "smartGridsType" : "documentBoxes",
      "defaultConfiguraionLabel" : "...",
      "smartGrids" : { },
      "editorPreset" : { },
      "metaTemplates" : { },
      "pageDividerType" : 12345,
      "disclaimerConfirmation" : "...",
      "documentGridSize" : 12345.0,
      "pageOffset" : 12345,
      "massPersonalization" : "no",
      "atSheetCfg" : "...",
      "inputBundlesOfCopies" : "TEMPLATE_SPECIFIC",
      "realtimeEnabled" : true,
      "numOfCopiesPresels" : "...",
      "templatePreviews" : { },
      "printingOfficeOption" : 12345,
      "smartTemplate" : true,
      "valid" : true,
      "templatePages" : { },
      "disclaimerText" : "...",
      "workflowTypeIdForInstance" : 12345,
      "templateUsageType" : 123456,
      "motiv" : "...",
      "creatorId" : 12345,
      "started" : true,
      "atTableCellStyles" : "...",
      "allowWorkflowComments" : true,
      "canChangePageOrder" : true,
      "modifierId" : 12345,
      "approverId" : 12345,
      "atScaleType" : 123456,
      "allowedSmartGroupTemplates" : { },
      "showLocaleSelectionStep" : true,
      "goals" : "...",
      "archived" : true,
      "title" : "...",
      "sgKeyword" : "...",
      "atColors" : "...",
      "cutMarks" : true,
      "instanceMediaPoolPublishingAllowed" : true,
      "renderers" : { },
      "templateLocales" : { },
      "alternativePreviewAssetVersion" : 12345,
      "imageBoxesStream" : { },
      "status" : 123456,
      "priceListId" : 12345,
      "canUseOnlyValidMedias" : true,
      "readonly" : true,
      "spellCheckerLanguage" : "...",
      "setForApprovalDate" : 12345,
      "hyphenationAttribute" : "...",
      "detailViews" : 12345,
      "cut" : 12345,
      "sourceMediaVersionNumber" : 12345,
      "alternativeImages" : { },
      "colorScheme" : 12345,
      "history" : "...",
      "dateTo" : "...",
      "expired" : true,
      "height" : 12345.0,
      "distortMax" : 12345,
      "stepProcessingOrder" : 12345,
      "fileName" : "...",
      "atLogicPageCfg" : "...",
      "favorite" : true,
      "number" : "...",
      "smartGroupPlacingType" : "exitsingLayers",
      "alternativePreviewAssetId" : 12345,
      "keywords" : "...",
      "lastAccessedDate" : 12345,
      "templateSets" : { },
      "pimProductType" : 12345,
      "templateDropdowns" : { },
      "scaleWidthMinPercent" : 12345.0,
      "atOriginalHeight" : 12345.0,
      "width" : 12345.0
    },
    "publishedAssets" : {
      "empty" : true
    },
    "distortVertical" : 12345,
    "archived" : true,
    "publishedInMediaPool" : true,
    "instancePages" : {
      "empty" : true
    },
    "mediaPoolPublishable" : true,
    "reusedFromDocumentId" : 12345,
    "height" : 12345.0,
    "boxDifferences" : {
      "empty" : true
    },
    "approverId" : 12345,
    "status" : 123456,
    "title" : "...",
    "sheetConfiguration" : "...",
    "valid" : true,
    "instanceVariableValues" : {
      "empty" : true
    },
    "documentLocaleId" : 12345,
    "currentProccessingStep" : "DOCUMENT_EDITING",
    "rendererId" : 12345,
    "validDateTo" : "...",
    "number" : "...",
    "mediaToPublish" : 12345,
    "dpi" : 12345,
    "globalSpreadConfiguration" : 12345,
    "distort" : 12345
  }
},
      "description" : ""
    }
    ,
    "json_BridgeException" : {
      "type" : "object",
      "title" : "BridgeException",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_RuntimeException"
        },
        {
        }
      ],
      "example" : {
  "message" : "...",
  "suppressed" : [ {
    "message" : "...",
    "suppressed" : [ { }, { } ],
    "cause" : { },
    "stackTrace" : [ {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    }, {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    } ],
    "localizedMessage" : "..."
  }, {
    "message" : "...",
    "suppressed" : [ { }, { } ],
    "cause" : { },
    "stackTrace" : [ {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    }, {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    } ],
    "localizedMessage" : "..."
  } ],
  "cause" : {
    "message" : "...",
    "suppressed" : [ { }, { } ],
    "cause" : { },
    "stackTrace" : [ {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    }, {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    } ],
    "localizedMessage" : "..."
  },
  "stackTrace" : [ {
    "nativeMethod" : true,
    "methodName" : "...",
    "lineNumber" : 12345,
    "className" : "...",
    "fileName" : "..."
  }, {
    "nativeMethod" : true,
    "methodName" : "...",
    "lineNumber" : 12345,
    "className" : "...",
    "fileName" : "..."
  } ],
  "localizedMessage" : "..."
},
      "description" : ""
    }
    ,
    "json_CategoriesRights" : {
      "type" : "string",
      "title" : "CategoriesRights",
          "enum" : [
            "TEMPLATES",
            "INSTANCES"
          ],
      "description" : ""
    }
    ,
    "json_ChangeableState" : {
      "type" : "string",
      "title" : "ChangeableState",
          "enum" : [
            "NON_CHANGEABLE",
            "PARTIALLY_CHANGEABLE",
            "FULLY_CONFIGURABLE",
            "SMART_GRID",
            "DYNAMIC_SERVICE",
            "CUSTOM_FORM",
            "GRAPHICAL_TEXT"
          ],
      "description" : ""
    }
    ,
    "json_CharacterStylesAttributes" : {
      "type" : "string",
      "title" : "CharacterStylesAttributes",
          "enum" : [
            "HTML_FONT_FAMILY",
            "HTML_FONT_WEIGHT",
            "HTML_FONT_STYLE",
            "HTML_FONT_SIZE",
            "HTML_FONT_COLOR",
            "HTML_MARGIN_TOP",
            "HTML_MARGIN_BOTTOM",
            "HTML_TEXT_DECORATION",
            "HTML_VERTICAL_ALIGN"
          ],
      "description" : ""
    }
    ,
    "json_CommonStatusDto" : {
      "type" : "object",
      "title" : "CommonStatusDto",
          "properties" : {
            "status" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "message" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "entities" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "object"
}
            }
          },
      "example" : {
  "status" : 12345,
  "message" : "...",
  "entities" : [ { }, { } ]
},
      "description" : ""
    }
    ,
    "json_CommonStatusDto_dto" : {
      "type" : "object",
      "title" : "CommonStatusDto",
          "properties" : {
            "entities" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "object"
}
            },
            "message" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "status" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "entities" : [ { }, { } ],
  "message" : "...",
  "status" : 12345
},
      "description" : ""
    }
    ,
    "json_ConfigurationUsedFields" : {
      "type" : "string",
      "title" : "ConfigurationUsedFields",
          "enum" : [
            "ESTIMATED_CHARACTERS_USED",
            "VALIDATORSET_USED",
            "VALIDATOR_PARAMETER_USED",
            "ALLOW_DEFAULT_USED",
            "HELP_TEXT_USED",
            "MANDATORY_USED",
            "INPUT_HEIGHT_USED",
            "ALTERNATIVE_IMAGE_W2P_CLASSIFICATION_USED",
            "ALTERNATIVE_IMAGE_KEYWORD_USED",
            "ALTERNATIVE_IMAGE_BLZ_USED",
            "TEMPLATE_DROPDOWN_USED",
            "EDIT_OPTIONS_USED",
            "ALTERNATIVES_SELECTION_USED",
            "EDITOR_CONFIGURATION_USED",
            "VARIABLE_TEXT",
            "POSITION_USED",
            "PIM_STRUCTURE_ID_AND_ATTRIBUTE_USED",
            "REPLACEMENT_RULE_PREFIX_AND_SUFFIX",
            "USE_KEYWORD_FOR_SEARCH_USED",
            "CROP_ALTERNATIVE_IMAGES_USED",
            "REMOVE_EMPTY_LINES_USED",
            "CONTENT_TYPE_SELECTOR",
            "VALUE_AS_DOCUMENT_NAME",
            "ALL_FIELDS_USED_VALUE"
          ],
      "description" : ""
    }
    ,
    "json_ContentType" : {
      "type" : "string",
      "title" : "ContentType",
          "enum" : [
            "GENERIC"
          ],
      "description" : ""
    }
    ,
    "json_ContentTypeIndex" : {
      "type" : "string",
      "title" : "ContentTypeIndex",
          "enum" : [
            "DEFAULT"
          ],
      "description" : ""
    }
    ,
    "json_CreateAttachmentResult" : {
      "type" : "object",
      "title" : "CreateAttachmentResult",
          "properties" : {
            "advertInstanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "advertInstanceTitle" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "detailsLink" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "advertInstanceId" : 12345,
  "advertInstanceTitle" : "...",
  "detailsLink" : "..."
},
      "description" : "DTO created MaPS attachment"
    }
    ,
    "json_CreateInstance" : {
      "type" : "object",
      "title" : "CreateInstance",
          "properties" : {
            "prefilledWidth" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "prefilledHeight" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "editTemplateLayouts" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "instanceAppCode" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_InstanceApplication"
            },
            "localeId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "prefilledWidth" : 12345.0,
  "prefilledHeight" : 12345.0,
  "editTemplateLayouts" : true,
  "instanceAppCode" : 123456,
  "localeId" : 12345
},
      "description" : ""
    }
    ,
    "json_CreateTemplate" : {
      "type" : "object",
      "title" : "CreateTemplate",
      "required" : ["usageType"],
          "properties" : {
            "usageType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "usageType" : 12345
},
      "description" : ""
    }
    ,
    "json_CreateWorkflowComment" : {
      "type" : "object",
      "title" : "CreateWorkflowComment",
      "required" : ["instanceId", "text"],
          "properties" : {
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "text" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "instanceId" : 12345,
  "text" : "..."
},
      "description" : ""
    }
    ,
    "json_Crop" : {
      "type" : "object",
      "title" : "Crop",
          "properties" : {
            "left" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "top" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "right" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "bottom" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "left" : 12345,
  "top" : 12345,
  "right" : 12345,
  "bottom" : 12345
},
      "description" : ""
    }
    ,
    "json_CropOfInteger" : {
      "type" : "object",
      "title" : "CropOfInteger",
          "properties" : {
            "cropRight" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "cropLeft" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "cropBottom" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "cropTop" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "cropRight" : 12345,
  "cropLeft" : 12345,
  "cropBottom" : 12345,
  "cropTop" : 12345
},
      "description" : ""
    }
    ,
    "json_CroppedMedia" : {
      "type" : "object",
      "title" : "CroppedMedia",
          "properties" : {
            "mediaGUID" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "mediaVersion" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "crop" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_CropOfInteger"
            }
          },
      "example" : {
  "mediaGUID" : 12345,
  "mediaVersion" : 12345,
  "crop" : {
    "cropRight" : 12345,
    "cropLeft" : 12345,
    "cropBottom" : 12345,
    "cropTop" : 12345
  }
},
      "description" : ""
    }
    ,
    "json_CurrentUser" : {
      "type" : "object",
      "title" : "CurrentUser",
          "properties" : {
            "preferredLengthUnit" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_GraphicalUnit"
            }
          },
      "example" : {
  "preferredLengthUnit" : "CENTIMETERS"
},
      "description" : ""
    }
    ,
    "json_CustomObjectState" : {
      "type" : "string",
      "title" : "CustomObjectState",
          "enum" : [
            "ONLY_DELETE",
            "EDIT_AND_ADD",
            "ONLY_EDIT"
          ],
      "description" : ""
    }
    ,
    "json_CustomProperty" : {
      "type" : "object",
      "title" : "CustomProperty",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "uniqueName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "description" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "grouping" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomPropertyValue"
}
            }
          },
      "example" : {
  "id" : 12345,
  "uniqueName" : "...",
  "name" : "...",
  "description" : "...",
  "grouping" : true,
  "values" : [ {
    "id" : 12345,
    "propertyId" : 12345,
    "uniqueName" : "...",
    "name" : "...",
    "preview" : {
      "id" : 12345,
      "version" : 12345
    }
  }, {
    "id" : 12345,
    "propertyId" : 12345,
    "uniqueName" : "...",
    "name" : "...",
    "preview" : {
      "id" : 12345,
      "version" : 12345
    }
  } ]
},
      "description" : ""
    }
    ,
    "json_CustomPropertyStepSelection" : {
      "type" : "object",
      "title" : "CustomPropertyStepSelection",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_StepSelection"
        },
        {
          "properties" : {
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DocumentCreationPropertyType"
            },
            "selectedValueKeys" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "string"
}
            }
          }
        }
      ],
      "example" : {
  "type" : "CUSTOM_PROPERTY",
  "selectedValueKeys" : [ "...", "..." ],
  "stepId" : "..."
},
      "description" : ""
    }
    ,
    "json_CustomPropertyValue" : {
      "type" : "object",
      "title" : "CustomPropertyValue",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "propertyId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "uniqueName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "preview" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Preview"
            }
          },
      "example" : {
  "id" : 12345,
  "propertyId" : 12345,
  "uniqueName" : "...",
  "name" : "...",
  "preview" : {
    "id" : 12345,
    "version" : 12345
  }
},
      "description" : ""
    }
    ,
    "json_CustomPropertyValueKey" : {
      "type" : "object",
      "title" : "CustomPropertyValueKey",
          "properties" : {
            "property" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "value" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "property" : "...",
  "value" : "..."
},
      "description" : ""
    }
    ,
    "json_CustomStructureAffiliateType" : {
      "type" : "string",
      "title" : "CustomStructureAffiliateType",
          "enum" : [
            "NON_AFFILIATE_STRUCTURE",
            "SINGLE_OBJECT_AFFILIATE_STRUCTURE",
            "MULTI_OBJECT_AFFILIATE_STRUCTURE"
          ],
      "description" : ""
    }
    ,
    "json_CustomStructureAttributeType" : {
      "type" : "string",
      "title" : "CustomStructureAttributeType",
          "enum" : [
            "TEXT",
            "INT",
            "DATETIME",
            "FLOAT",
            "MEDIA",
            "RICHTEXT",
            "INTERNAL"
          ],
      "description" : ""
    }
    ,
    "json_DefaultValueSource" : {
      "type" : "string",
      "title" : "DefaultValueSource",
          "enum" : [
            "FROM_TEMPLATE",
            "FROM_USER",
            "FROM_SYSTEM"
          ],
      "description" : ""
    }
    ,
    "json_DeleteTemplateSectionDirectionTypes" : {
      "type" : "string",
      "title" : "DeleteTemplateSectionDirectionTypes",
          "enum" : [
            "DELETE_SECTION_MOVE_FORWARD",
            "DELETE_SECTION_MOVE_BACK",
            "DELETE_SECTION_EMPTY_SECTION"
          ],
      "description" : ""
    }
    ,
    "json_DeletedInstance" : {
      "type" : "object",
      "title" : "DeletedInstance",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_InstanceDeletionResult"
        },
        {
          "properties" : {
            "status" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Status"
            },
            "instanceId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          }
        }
      ],
      "example" : {
  "status" : "NOT_DELETED",
  "instanceId" : 12345
},
      "description" : ""
    }
    ,
    "json_DeletedTemplateResult" : {
      "type" : "object",
      "title" : "DeletedTemplateResult",
          "properties" : {
            "templateId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "instanceIds" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "type" : "number"
}
            }
          },
      "example" : {
  "templateId" : 12345,
  "instanceIds" : [ 12345, 12345 ]
},
      "description" : ""
    }
    ,
    "json_DeletionResult" : {
      "type" : "object",
      "title" : "DeletionResult",
          "properties" : {
            "status" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Status"
            },
            "object" : {
            "readOnly" : false,
"description" : "",
"type" : "object"
            },
            "message" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "exception" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Exception"
            },
            "externalReferences" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ExternalReference"
}
            }
          },
      "example" : {
  "status" : "NOT_DELETED",
  "object" : { },
  "message" : "...",
  "exception" : {
    "message" : "...",
    "suppressed" : [ {
      "message" : "...",
      "suppressed" : [ { }, { } ],
      "cause" : { },
      "stackTrace" : [ { }, { } ],
      "localizedMessage" : "..."
    }, {
      "message" : "...",
      "suppressed" : [ { }, { } ],
      "cause" : { },
      "stackTrace" : [ { }, { } ],
      "localizedMessage" : "..."
    } ],
    "cause" : {
      "message" : "...",
      "suppressed" : [ { }, { } ],
      "cause" : { },
      "stackTrace" : [ { }, { } ],
      "localizedMessage" : "..."
    },
    "stackTrace" : [ {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    }, {
      "nativeMethod" : true,
      "methodName" : "...",
      "lineNumber" : 12345,
      "className" : "...",
      "fileName" : "..."
    } ],
    "localizedMessage" : "..."
  },
  "externalReferences" : [ {
    "objectId" : 12345,
    "assignment" : "INSTANCES",
    "type" : "TEMPLATE"
  }, {
    "objectId" : 12345,
    "assignment" : "INSTANCES",
    "type" : "INSTANCE"
  } ]
},
      "description" : ""
    }
    ,
    "json_Dependencies" : {
      "type" : "string",
      "title" : "Dependencies",
          "enum" : [
            "OWNER"
          ],
      "description" : ""
    }
    ,
    "json_DifferenceApplyChanges" : {
      "type" : "string",
      "title" : "DifferenceApplyChanges",
          "enum" : [
            "DONT_APPLY",
            "APPLY"
          ],
      "description" : ""
    }
    ,
    "json_DifferenceChangeType" : {
      "type" : "string",
      "title" : "DifferenceChangeType",
          "enum" : [
            "MODIFIED",
            "ADDED",
            "DELETED"
          ],
      "description" : ""
    }
    ,
    "json_DirtyMediaBoxHandlingTypes" : {
      "type" : "string",
      "title" : "DirtyMediaBoxHandlingTypes",
          "enum" : [
            "dontSearch",
            "searchForNewVersion",
            "alwaysUseNewVersion"
          ],
      "description" : ""
    }
    ,
    "json_DocumentCreationProperty" : {
      "type" : "object",
      "title" : "DocumentCreationProperty",
          "properties" : {
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "active" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "name" : "...",
  "label" : "...",
  "position" : 12345,
  "active" : true
},
      "description" : ""
    }
    ,
    "json_DocumentCreationPropertyType" : {
      "type" : "string",
      "title" : "DocumentCreationPropertyType",
          "enum" : [
            "PAGE_SIZE",
            "CUSTOM_PROPERTY"
          ],
      "description" : ""
    }
    ,
    "json_Dropdown" : {
      "type" : "object",
      "title" : "Dropdown",
          "properties" : {
            "type" : {
            "readOnly" : false,
"description" : "The JSON object type.",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "parentId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "priority" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "smart" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "customStructureBased" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "defaultSelection" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "defaultVariantName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "selected" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DropdownSelection"
            }
          },
      "example" : {
  "type" : "...",
  "id" : 12345,
  "parentId" : 12345,
  "name" : "...",
  "priority" : "...",
  "smart" : true,
  "customStructureBased" : true,
  "defaultSelection" : true,
  "defaultVariantName" : "...",
  "selected" : {
    "selectionType" : "...",
    "id" : 12345,
    "parentId" : 12345
  }
},
      "description" : ""
    }
    ,
    "json_DropdownSelection" : {
      "type" : "object",
      "title" : "DropdownSelection",
          "properties" : {
            "selectionType" : {
            "readOnly" : false,
"description" : "The JSON object type.",
"type" : "string"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "parentId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "selectionType" : "...",
  "id" : 12345,
  "parentId" : 12345
},
      "description" : ""
    }
    ,
    "json_DropdownSelectionValues" : {
      "type" : "object",
      "title" : "DropdownSelectionValues",
          "properties" : {
            "values" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DropdownSelection"
}
            },
            "selectedValue" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DropdownSelection"
            }
          },
      "example" : {
  "values" : [ {
    "selectionType" : "...",
    "id" : 12345,
    "parentId" : 12345
  }, {
    "selectionType" : "...",
    "id" : 12345,
    "parentId" : 12345
  } ],
  "selectedValue" : {
    "selectionType" : "...",
    "id" : 12345,
    "parentId" : 12345
  }
},
      "description" : ""
    }
    ,
    "json_DropdownValue" : {
      "type" : "object",
      "title" : "DropdownValue",
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "dropdown" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_Dropdown"
            }
          },
      "example" : {
  "id" : 12345,
  "dropdown" : {
    "type" : "...",
    "id" : 12345,
    "parentId" : 12345,
    "name" : "...",
    "priority" : "...",
    "smart" : true,
    "customStructureBased" : true,
    "defaultSelection" : true,
    "defaultVariantName" : "...",
    "selected" : {
      "selectionType" : "...",
      "id" : 12345,
      "parentId" : 12345
    }
  }
},
      "description" : ""
    }
    ,
    "json_DynamicGridBox" : {
      "type" : "object",
      "title" : "DynamicGridBox",
          "properties" : {
            "smartGrid" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_SmartGrid_wp"
            }
          },
      "example" : {
  "smartGrid" : {
    "smartBlocks" : {
      "empty" : true
    },
    "smartGridId" : 12345,
    "templateId" : 12345,
    "instanceBox" : {
      "smartGrid" : { }
    },
    "templateBoxId" : 12345,
    "themeId" : 12345,
    "templateBox" : {
      "tbBboxw" : "...",
      "smartGrid" : { },
      "tbBoxh" : "...",
      "scaleHeightMinPercent" : 12345.0,
      "advertTemplateId" : 12345,
      "scalePositionY" : 12345,
      "rotationToAngle" : 12345.0,
      "rotationFromAngle" : 12345.0,
      "tbBoxy" : "...",
      "tbBboxh" : "...",
      "tbBoxw" : "...",
      "templateBoxEditable" : true,
      "templateBoxGraphical" : true,
      "scaleWidthMin" : 12345.0,
      "distortHorizontalMax" : 12345,
      "tbBoxx" : "...",
      "userFinetuningString" : "...",
      "templateBoxMetadata" : "...",
      "tbBoxangle" : "...",
      "transformations" : 12345,
      "tbButtonPosy" : 12345.0,
      "movementAllowed" : true,
      "templateBoxId" : 12345,
      "dynamicServiceId" : 12345,
      "dynamicService" : { },
      "limitDistortion" : true,
      "scaleHeightMax" : 12345.0,
      "tbFinetuningString" : "...",
      "template" : { },
      "tbTemplatePageId" : 12345,
      "instanceBoxes" : { },
      "scaleByX" : 12345,
      "templatePage" : { },
      "dynamicServiceOverridable" : true,
      "scaleWidthMaxPercent" : 12345.0,
      "tbZorder" : 12345,
      "templateBoxName" : "...",
      "pageNumber" : 12345,
      "templateBoxText" : "...",
      "tbBboxx" : "...",
      "tbBboxy" : "...",
      "rotationAllowed" : true,
      "tbName" : "...",
      "parentBox" : true,
      "distortVerticalMax" : 12345,
      "masterBox" : true,
      "scaleHeightMaxPercent" : 12345.0,
      "resizingAllowed" : true,
      "tbButtonPosx" : 12345.0,
      "scaleByY" : 12345,
      "scaleWidthMax" : 12345.0,
      "templateVariables" : { },
      "changeableState" : "DYNAMIC_SERVICE",
      "tbParentBox" : "...",
      "scalePositionX" : 12345,
      "scaleWidthMinPercent" : 12345.0,
      "type" : "IMAGE",
      "scaleHeightMin" : 12345.0,
      "tbContent" : "..."
    },
    "template" : {
      "themeIds" : [ 12345, 12345 ],
      "designerAgencyName" : "...",
      "unlimited" : true,
      "usableAsSmartBlock" : true,
      "templateType" : 12345,
      "customPropertyValues" : { },
      "templateCounters" : { },
      "canUseSmartLibrary" : true,
      "atTableStyles" : "...",
      "documentGridMaxSize" : 12345.0,
      "atCstyles" : "...",
      "workflowObjectId" : 12345,
      "htmlTemplate" : true,
      "productThemeIds" : [ 12345, 12345 ],
      "pageDivisibility" : 12345,
      "createDate" : 12345,
      "type" : "...",
      "currentPageCount" : 12345,
      "atAdvancedSheetCfg" : "...",
      "scaleHeightMaxPercent" : 12345.0,
      "mandatoryDocumentSteps" : 12345,
      "preselectedOutputMethod" : { },
      "templateText" : "...",
      "previewId" : 12345,
      "distortVerticalMax" : 12345,
      "outputFormat" : "both",
      "colors" : 12345,
      "customerName" : "...",
      "scaleWidthMax" : 12345.0,
      "pimConnectionType" : 12345,
      "atPstyles" : "...",
      "templateSections" : { },
      "templateBoxesStream" : { },
      "preselectedRendererId" : 12345,
      "useProductThemeFiltering" : true,
      "instances" : { },
      "originalPreviewId" : 12345,
      "sourceMediaGuid" : 12345,
      "rejectDescription" : "...",
      "allowsGrayscale" : true,
      "documentGridMinSize" : 12345.0,
      "contactPersonId" : 12345,
      "scaleHeightMinPercent" : 12345.0,
      "revised" : true,
      "userCanApprove" : true,
      "canExportImport" : true,
      "multiMassPersonalization" : true,
      "pageCount" : 12345,
      "dateFrom" : "...",
      "atSpreadGlobalCfg" : 12345,
      "scaleHeightMax" : 12345.0,
      "format" : 12345,
      "scaleHeightMin" : 12345.0,
      "preselectedOutputFormat" : "singlePage",
      "previewVersion" : 12345,
      "hyphenationDropdown" : 12345,
      "scaleWidthMin" : 12345.0,
      "dirtyMediaBoxHandling" : "alwaysUseNewVersion",
      "textBoxesStream" : { },
      "atOriginalWidth" : 12345.0,
      "scaleWidthMaxPercent" : 12345.0,
      "hyphenationDropdownAndAttribute" : "...",
      "limitDistortion" : true,
      "minimumDpi" : 12345,
      "currentProcessingStep" : 12345,
      "alternativeTexts" : { },
      "databaseId" : 12345,
      "smartGridsType" : "documentBoxes",
      "defaultConfiguraionLabel" : "...",
      "smartGrids" : { },
      "editorPreset" : { },
      "metaTemplates" : { },
      "pageDividerType" : 12345,
      "disclaimerConfirmation" : "...",
      "documentGridSize" : 12345.0,
      "pageOffset" : 12345,
      "massPersonalization" : "singleSet",
      "atSheetCfg" : "...",
      "inputBundlesOfCopies" : "MANUAL",
      "realtimeEnabled" : true,
      "numOfCopiesPresels" : "...",
      "templatePreviews" : { },
      "printingOfficeOption" : 12345,
      "smartTemplate" : true,
      "valid" : true,
      "templatePages" : { },
      "disclaimerText" : "...",
      "workflowTypeIdForInstance" : 12345,
      "templateUsageType" : 123456,
      "motiv" : "...",
      "creatorId" : 12345,
      "started" : true,
      "atTableCellStyles" : "...",
      "allowWorkflowComments" : true,
      "canChangePageOrder" : true,
      "modifierId" : 12345,
      "approverId" : 12345,
      "atScaleType" : 123456,
      "allowedSmartGroupTemplates" : { },
      "showLocaleSelectionStep" : true,
      "goals" : "...",
      "archived" : true,
      "title" : "...",
      "sgKeyword" : "...",
      "atColors" : "...",
      "cutMarks" : true,
      "instanceMediaPoolPublishingAllowed" : true,
      "renderers" : { },
      "templateLocales" : { },
      "alternativePreviewAssetVersion" : 12345,
      "imageBoxesStream" : { },
      "status" : 123456,
      "priceListId" : 12345,
      "canUseOnlyValidMedias" : true,
      "readonly" : true,
      "spellCheckerLanguage" : "...",
      "setForApprovalDate" : 12345,
      "hyphenationAttribute" : "...",
      "detailViews" : 12345,
      "cut" : 12345,
      "sourceMediaVersionNumber" : 12345,
      "alternativeImages" : { },
      "colorScheme" : 12345,
      "history" : "...",
      "dateTo" : "...",
      "expired" : true,
      "height" : 12345.0,
      "distortMax" : 12345,
      "stepProcessingOrder" : 12345,
      "fileName" : "...",
      "atLogicPageCfg" : "...",
      "favorite" : true,
      "number" : "...",
      "smartGroupPlacingType" : "newLayers",
      "alternativePreviewAssetId" : 12345,
      "keywords" : "...",
      "lastAccessedDate" : 12345,
      "templateSets" : { },
      "pimProductType" : 12345,
      "templateDropdowns" : { },
      "scaleWidthMinPercent" : 12345.0,
      "atOriginalHeight" : 12345.0,
      "width" : 12345.0
    },
    "canUseCategories" : true
  }
},
      "description" : ""
    }
    ,
    "json_DynamicImageInstanceBox" : {
      "type" : "object",
      "title" : "DynamicImageInstanceBox",
      "example" : { },
      "description" : ""
    }
    ,
    "json_DynamicInstanceBoxType" : {
      "type" : "string",
      "title" : "DynamicInstanceBoxType",
          "enum" : [
            "STATIC",
            "IMAGE",
            "SMART_GRID"
          ],
      "description" : ""
    }
    ,
    "json_DynamicService" : {
      "type" : "object",
      "title" : "DynamicService",
      "required" : ["NAME", "LABEL", "URL", "TYPE"],
          "properties" : {
            "ID" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "NAME" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "LABEL" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "HELP_TEXT" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "URL" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "TYPE" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "TEMPLATES_COUNT" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "DYNAMIC_SERVICE_VARIABLES" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DynamicServiceVariable"
}
            }
          },
      "example" : {
  "ID" : 12345,
  "NAME" : "...",
  "LABEL" : "...",
  "HELP_TEXT" : "...",
  "URL" : "...",
  "TYPE" : 12345,
  "TEMPLATES_COUNT" : 12345,
  "DYNAMIC_SERVICE_VARIABLES" : [ {
    "ID" : 12345,
    "DYNAMIC_SERVICE_ID" : 12345,
    "REPLACE_TEXT" : "...",
    "LABEL" : "...",
    "TYPE" : 12345,
    "UNIT_TYPE" : "...",
    "TEMPLATE_DROPDOWN_ID" : 12345,
    "TEMPLATE_DROPDOWN_ATTRIBUTE" : "...",
    "dynamicServiceVariableType" : 12345
  }, {
    "ID" : 12345,
    "DYNAMIC_SERVICE_ID" : 12345,
    "REPLACE_TEXT" : "...",
    "LABEL" : "...",
    "TYPE" : 12345,
    "UNIT_TYPE" : "...",
    "TEMPLATE_DROPDOWN_ID" : 12345,
    "TEMPLATE_DROPDOWN_ATTRIBUTE" : "...",
    "dynamicServiceVariableType" : 12345
  } ]
},
      "description" : "DTO representing the dynamic service entity"
    }
    ,
    "json_DynamicService_wp" : {
      "type" : "object",
      "title" : "DynamicService",
          "properties" : {
            "url" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "helpText" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "type" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "dynamicServiceCaches" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_EntityCollectionOfDynamicServiceCache"
            },
            "name" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicServiceVariables" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_EntityCollectionOfDynamicServiceVariable"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "templateBoxes" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_EntityCollectionOfTemplateBox"
            }
          },
      "example" : {
  "url" : "...",
  "helpText" : "...",
  "type" : 12345,
  "dynamicServiceCaches" : {
    "empty" : true
  },
  "name" : "...",
  "dynamicServiceVariables" : {
    "empty" : true
  },
  "label" : "...",
  "templateBoxes" : {
    "empty" : true
  }
},
      "description" : ""
    }
    ,
    "json_DynamicServiceCache" : {
      "type" : "object",
      "title" : "DynamicServiceCache",
          "properties" : {
            "ID" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "RESPONSE_HEADER" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "URL" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "TEXT_RESULT" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "SERVICE_ID" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "ID" : 12345,
  "RESPONSE_HEADER" : "...",
  "URL" : "...",
  "TEXT_RESULT" : "...",
  "SERVICE_ID" : 12345
},
      "description" : "DTO representing the dynamic service cache entity"
    }
    ,
    "json_DynamicServiceCache_wp" : {
      "type" : "object",
      "title" : "DynamicServiceCache",
          "properties" : {
            "responseHeader" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicService" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DynamicService_wp"
            },
            "textResult" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "url" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            }
          },
      "example" : {
  "responseHeader" : "...",
  "dynamicService" : {
    "url" : "...",
    "helpText" : "...",
    "type" : 12345,
    "dynamicServiceCaches" : {
      "empty" : true
    },
    "name" : "...",
    "dynamicServiceVariables" : {
      "empty" : true
    },
    "label" : "...",
    "templateBoxes" : {
      "empty" : true
    }
  },
  "textResult" : "...",
  "url" : "..."
},
      "description" : ""
    }
    ,
    "json_DynamicServiceVariable" : {
      "type" : "object",
      "title" : "DynamicServiceVariable",
          "properties" : {
            "ID" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "DYNAMIC_SERVICE_ID" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "REPLACE_TEXT" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "LABEL" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "TYPE" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "UNIT_TYPE" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "TEMPLATE_DROPDOWN_ID" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "TEMPLATE_DROPDOWN_ATTRIBUTE" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicServiceVariableType" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            }
          },
      "example" : {
  "ID" : 12345,
  "DYNAMIC_SERVICE_ID" : 12345,
  "REPLACE_TEXT" : "...",
  "LABEL" : "...",
  "TYPE" : 12345,
  "UNIT_TYPE" : "...",
  "TEMPLATE_DROPDOWN_ID" : 12345,
  "TEMPLATE_DROPDOWN_ATTRIBUTE" : "...",
  "dynamicServiceVariableType" : 12345
},
      "description" : "DTO representing the dynamic service variable entity"
    }
    ,
    "json_DynamicServiceVariable_wp" : {
      "type" : "object",
      "title" : "DynamicServiceVariable",
          "properties" : {
            "dynamicServiceId" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "templateVariables" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_EntityCollectionOfTemplateVariable"
            },
            "templateDropdownId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "type" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DynamicServiceVariableType"
            },
            "replaceText" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "dynamicService" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_DynamicService_wp"
            },
            "templateDropdownAttribute" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "templateDropdown" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_TemplateDropdown"
            },
            "unit" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_GraphicalUnit"
            }
          },
      "example" : {
  "dynamicServiceId" : 12345,
  "label" : "...",
  "templateVariables" : {
    "empty" : true
  },
  "templateDropdownId" : 12345,
  "type" : "DROPDOWN",
  "replaceText" : "...",
  "dynamicService" : {
    "url" : "...",
    "helpText" : "...",
    "type" : 12345,
    "dynamicServiceCaches" : {
      "empty" : true
    },
    "name" : "...",
    "dynamicServiceVariables" : {
      "empty" : true
    },
    "label" : "...",
    "templateBoxes" : {
      "empty" : true
    }
  },
  "templateDropdownAttribute" : "...",
  "templateDropdown" : {
    "defaultVariantName" : "...",
    "templatePage" : {
      "templateBoxes" : { },
      "templateDropdowns" : { },
      "smartBlocks" : { },
      "templatePageId" : 12345,
      "pageLayout" : { },
      "pageWidth" : 12345.0,
      "gridAreaId" : 12345,
      "logicalNumber" : 12345,
      "templateSections" : { },
      "templateId" : 12345,
      "physicalNumber" : 12345,
      "masterPageName" : "...",
      "smartBlock" : true,
      "template" : { },
      "smartPages" : { },
      "instancePages" : { },
      "master" : true,
      "pageHeight" : 12345.0
    },
    "smart" : true,
    "customObjectFilter" : "...",
    "label" : "...",
    "creatorUserId" : 12345,
    "customStructureId" : 12345,
    "parentTemplateDropdownId" : 12345,
    "templates" : {
      "empty" : true
    },
    "templateDropdownValues" : {
      "empty" : true
    },
    "templateDropdownId" : 12345,
    "priority" : "...",
    "localeDropdown" : true,
    "templatePageId" : 12345,
    "parentDropdown" : { },
    "showAboveTemplateVariable" : {
      "inline" : true,
      "templateVariableId" : 12345,
      "variableTaggedText" : "...",
      "empty" : true,
      "variableName" : "...",
      "text" : true,
      "dynamicServiceVarId" : 12345,
      "configurations" : { },
      "variablePosition" : 12345,
      "variableType" : "TABLE",
      "contentType" : 12345,
      "variableText" : "...",
      "image" : true,
      "dynamicServiceVariable" : { },
      "table" : true,
      "templateLayoutVariable" : { },
      "contentTypeIndex" : 12345,
      "tables" : { },
      "templateBoxId" : 12345,
      "templateBox" : { },
      "massPersonalizable" : true
    },
    "modifierUserId" : 12345,
    "customStructureBased" : true,
    "showAboveTemplateVariableId" : 12345,
    "dropdownType" : 12345,
    "templateDropdownVariants" : {
      "empty" : true
    },
    "onZeroPage" : true,
    "createdOn" : 12345,
    "defaultValues" : {
      "empty" : true
    },
    "modifiedOn" : 12345
  },
  "unit" : "MILIMETERS"
},
      "description" : ""
    }
    ,
    "json_DynamicServiceVariableType" : {
      "type" : "string",
      "title" : "DynamicServiceVariableType",
          "enum" : [
            "INPUT",
            "DROPDOWN",
            "BOX_WIDTH",
            "BOX_HEIGHT",
            "INSTANCE_VALIDITY_FROM",
            "INSTANCE_VALIDITY_TO",
            "INSTANCE_CREATOR_AFFILIATE"
          ],
      "description" : ""
    }
    ,
    "json_EditOptions" : {
      "type" : "string",
      "title" : "EditOptions",
          "enum" : [
            "HIDDEN",
            "EDIT_AND_ALTERNATIVES",
            "ONLY_ALTERNATIVES"
          ],
      "description" : ""
    }
    ,
    "json_EditorColor" : {
      "type" : "object",
      "title" : "EditorColor",
      "required" : ["editorColorId", "global", "htmlRgbColor", "inddBlack", "inddColorName", "inddCyan", "inddMagenta", "inddYellow", "label", "position"],
          "properties" : {
            "editorColorId" : {
            "minimum" : 0,
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "alternateHtmlRgbColor" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "global" : {
            "minimum" : 0,
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "htmlRgbColor" : {
            "maxLength" : 7,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inddBlack" : {
            "maxLength" : 3,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inddColorName" : {
            "maxLength" : 255,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inddCyan" : {
            "maxLength" : 3,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inddMagenta" : {
            "maxLength" : 3,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inddYellow" : {
            "maxLength" : 3,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "label" : {
            "maxLength" : 255,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "position" : {
            "minimum" : 0,
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inCustomSelection" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "editorConfigurations" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_EditorConfiguration"
}
            }
          },
      "example" : {
  "editorColorId" : 12345,
  "alternateHtmlRgbColor" : "...",
  "global" : 12345,
  "htmlRgbColor" : "...",
  "inddBlack" : 12345,
  "inddColorName" : "...",
  "inddCyan" : 12345,
  "inddMagenta" : 12345,
  "inddYellow" : 12345,
  "label" : "...",
  "position" : 12345,
  "inCustomSelection" : true,
  "id" : 12345,
  "editorConfigurations" : [ {
    "id" : 12345,
    "label" : "...",
    "description" : "...",
    "position" : 12345,
    "showButtonCharacterStyles" : 12345,
    "templateCount" : 12345,
    "showButtonInsertBulletpoint" : true,
    "showButtonParagraphStyles" : 12345,
    "showButtonTable" : true,
    "showButtonStrikeThrough" : true,
    "showButtonSuperscript" : true,
    "variableConfigurationValue" : "...",
    "showButtonSubscript" : true,
    "showButtonItalic" : true,
    "showButtonColumnBreak" : true,
    "showButtonSpecialCharacters" : true,
    "showButtonFindReplace" : true,
    "showButtonPictureUpload" : true,
    "showButtonHyperlink" : true,
    "showButtonRightIndent" : true,
    "showButtonUnderline" : true,
    "showButtonTextcolor" : true,
    "editorStyles" : [ {
      "editorStyleId" : 12345,
      "label" : "...",
      "position" : 12345,
      "styleType" : "...",
      "inddName" : "...",
      "className" : "...",
      "classNameOld" : "...",
      "folderName" : "...",
      "global" : 12345,
      "inCustomSelection" : true,
      "replacement" : true,
      "attributes" : [ { }, { } ],
      "editorConfigurations" : [ { }, { } ],
      "editorStyleReplacements" : [ { }, { } ],
      "id" : 12345
    }, {
      "editorStyleId" : 12345,
      "label" : "...",
      "position" : 12345,
      "styleType" : "...",
      "inddName" : "...",
      "className" : "...",
      "classNameOld" : "...",
      "folderName" : "...",
      "global" : 12345,
      "inCustomSelection" : true,
      "replacement" : true,
      "attributes" : [ { }, { } ],
      "editorConfigurations" : [ { }, { } ],
      "editorStyleReplacements" : [ { }, { } ],
      "id" : 12345
    } ],
    "global" : 12345,
    "showButtonFrameBreak" : true,
    "showButtonInsertTabulator" : true,
    "editorColors" : [ {
      "editorColorId" : 12345,
      "alternateHtmlRgbColor" : "...",
      "global" : 12345,
      "htmlRgbColor" : "...",
      "inddBlack" : 12345,
      "inddColorName" : "...",
      "inddCyan" : 12345,
      "inddMagenta" : 12345,
      "inddYellow" : 12345,
      "label" : "...",
      "position" : 12345,
      "inCustomSelection" : true,
      "id" : 12345,
      "editorConfigurations" : [ { }, { } ]
    }, {
      "editorColorId" : 12345,
      "alternateHtmlRgbColor" : "...",
      "global" : 12345,
      "htmlRgbColor" : "...",
      "inddBlack" : 12345,
      "inddColorName" : "...",
      "inddCyan" : 12345,
      "inddMagenta" : 12345,
      "inddYellow" : 12345,
      "label" : "...",
      "position" : 12345,
      "inCustomSelection" : true,
      "id" : 12345,
      "editorConfigurations" : [ { }, { } ]
    } ],
    "showButtonMediaHyperlink" : true,
    "showButtonMaximize" : true,
    "showButtonTableStyles" : 12345,
    "showButtonCellStyles" : 12345,
    "temporaryConfiguration" : true,
    "showButtonBold" : true,
    "showButtonSourceCode" : true
  }, {
    "id" : 12345,
    "label" : "...",
    "description" : "...",
    "position" : 12345,
    "showButtonCharacterStyles" : 12345,
    "templateCount" : 12345,
    "showButtonInsertBulletpoint" : true,
    "showButtonParagraphStyles" : 12345,
    "showButtonTable" : true,
    "showButtonStrikeThrough" : true,
    "showButtonSuperscript" : true,
    "variableConfigurationValue" : "...",
    "showButtonSubscript" : true,
    "showButtonItalic" : true,
    "showButtonColumnBreak" : true,
    "showButtonSpecialCharacters" : true,
    "showButtonFindReplace" : true,
    "showButtonPictureUpload" : true,
    "showButtonHyperlink" : true,
    "showButtonRightIndent" : true,
    "showButtonUnderline" : true,
    "showButtonTextcolor" : true,
    "editorStyles" : [ {
      "editorStyleId" : 12345,
      "label" : "...",
      "position" : 12345,
      "styleType" : "...",
      "inddName" : "...",
      "className" : "...",
      "classNameOld" : "...",
      "folderName" : "...",
      "global" : 12345,
      "inCustomSelection" : true,
      "replacement" : true,
      "attributes" : [ { }, { } ],
      "editorConfigurations" : [ { }, { } ],
      "editorStyleReplacements" : [ { }, { } ],
      "id" : 12345
    }, {
      "editorStyleId" : 12345,
      "label" : "...",
      "position" : 12345,
      "styleType" : "...",
      "inddName" : "...",
      "className" : "...",
      "classNameOld" : "...",
      "folderName" : "...",
      "global" : 12345,
      "inCustomSelection" : true,
      "replacement" : true,
      "attributes" : [ { }, { } ],
      "editorConfigurations" : [ { }, { } ],
      "editorStyleReplacements" : [ { }, { } ],
      "id" : 12345
    } ],
    "global" : 12345,
    "showButtonFrameBreak" : true,
    "showButtonInsertTabulator" : true,
    "editorColors" : [ {
      "editorColorId" : 12345,
      "alternateHtmlRgbColor" : "...",
      "global" : 12345,
      "htmlRgbColor" : "...",
      "inddBlack" : 12345,
      "inddColorName" : "...",
      "inddCyan" : 12345,
      "inddMagenta" : 12345,
      "inddYellow" : 12345,
      "label" : "...",
      "position" : 12345,
      "inCustomSelection" : true,
      "id" : 12345,
      "editorConfigurations" : [ { }, { } ]
    }, {
      "editorColorId" : 12345,
      "alternateHtmlRgbColor" : "...",
      "global" : 12345,
      "htmlRgbColor" : "...",
      "inddBlack" : 12345,
      "inddColorName" : "...",
      "inddCyan" : 12345,
      "inddMagenta" : 12345,
      "inddYellow" : 12345,
      "label" : "...",
      "position" : 12345,
      "inCustomSelection" : true,
      "id" : 12345,
      "editorConfigurations" : [ { }, { } ]
    } ],
    "showButtonMediaHyperlink" : true,
    "showButtonMaximize" : true,
    "showButtonTableStyles" : 12345,
    "showButtonCellStyles" : 12345,
    "temporaryConfiguration" : true,
    "showButtonBold" : true,
    "showButtonSourceCode" : true
  } ]
},
      "description" : "DTO representing the RTE color entity"
    }
    ,
    "json_EditorColor_wp" : {
      "type" : "object",
      "title" : "EditorColor",
          "properties" : {
            "editorColorId" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "alternateHtmlRgbColor" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "global" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "htmlRgbColor" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inddBlack" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inddColorName" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "inddCyan" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inddMagenta" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "inddYellow" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "label" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "editorConfigurations" : {
            "readOnly" : false,
"$ref" : "#/definitions/json_EntityCollectionOfEditorConfiguration"
            },
            "inCustomSelection" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "editorColorId" : 12345,
  "alternateHtmlRgbColor" : "...",
  "global" : 12345,
  "htmlRgbColor" : "...",
  "inddBlack" : 12345,
  "inddColorName" : "...",
  "inddCyan" : 12345,
  "inddMagenta" : 12345,
  "inddYellow" : 12345,
  "label" : "...",
  "position" : 12345,
  "editorConfigurations" : {
    "empty" : true
  },
  "inCustomSelection" : true
},
      "description" : ""
    }
    ,
    "json_EditorConfiguration" : {
      "type" : "object",
      "title" : "EditorConfiguration",
      "required" : ["label", "position", "global"],
          "properties" : {
            "id" : {
            "readOnly" : false,
"description" : "",
"type" : "number"
            },
            "label" : {
            "maxLength" : 255,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "description" : {
            "maxLength" : 2000,
            "minLength" : 0,
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "position" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "showButtonCharacterStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "templateCount" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int64"
            },
            "showButtonInsertBulletpoint" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonParagraphStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "showButtonTable" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonStrikeThrough" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonSuperscript" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "variableConfigurationValue" : {
            "readOnly" : false,
"description" : "",
"type" : "string"
            },
            "showButtonSubscript" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonItalic" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonColumnBreak" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonSpecialCharacters" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonFindReplace" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonPictureUpload" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonHyperlink" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonRightIndent" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonUnderline" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonTextcolor" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "editorStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_EditorStyle"
}
            },
            "global" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "showButtonFrameBreak" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonInsertTabulator" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "editorColors" : {
            "readOnly" : false,
"description" : "",
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_EditorColor"
}
            },
            "showButtonMediaHyperlink" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonMaximize" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonTableStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "showButtonCellStyles" : {
            "readOnly" : false,
"description" : "",
"type" : "integer",
"format" : "int32"
            },
            "temporaryConfiguration" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonBold" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            },
            "showButtonSourceCode" : {
            "readOnly" : false,
"description" : "",
"type" : "boolean"
            }
          },
      "example" : {
  "id" : 12345,
  "label" : "...",
  "description" : "...",
  "position" : 12345,
  "showButtonCharacterStyles" : 12345,
[...]
