{
    "swagger": "2.0",
    "info" : {
      "description" : "MediaPool Public RESTful API Documentation",
      "contact" : {
        "email" : "dev-team-mp@brandmaker.com",
        "name" : "MediaPool"
      },
      "version" : "63.2.0-6.8",
      "title" : "MediaPool Public RESTful Service API - 63.2.0-6.8"
    },
    "host" : "is-dev2.brandmaker.com",
    "basePath" : "/rest/mp",
    "schemes" : ["https"],
    "tags" : [
      {
        "name" : "AiAdministrationRestService"
      }
      ,
      {
        "name" : "AiTaggingRestService"
      }
      ,
      {
        "name" : "AiWebTracingRestService"
      }
      ,
      {
        "name" : "ArchiveEntryRestService"
      }
      ,
      {
        "name" : "AssetDetailsConfigurationRestService"
        ,
        "description" : "Rest service providing functionality for asset details configuration."
      }
      ,
      {
        "name" : "AssetDownloadHistoryRestService"
      }
      ,
      {
        "name" : "AssetDownloadRestService"
      }
      ,
      {
        "name" : "AssetGalleryViewConfigRestService"
      }
      ,
      {
        "name" : "AssetListViewConfigRestService"
      }
      ,
      {
        "name" : "AssetMasterRestService"
      }
      ,
      {
        "name" : "AssetMetadataRestService"
      }
      ,
      {
        "name" : "AssetOfficialHistoryRestService"
      }
      ,
      {
        "name" : "AssetPartialRestService"
      }
      ,
      {
        "name" : "AssetPreviewRestService"
      }
      ,
      {
        "name" : "AssetPublishingRestService"
        ,
        "description" : "REST service that provides functionality for managing process of asset publishing."
      }
      ,
      {
        "name" : "AssetRatingRestService"
      }
      ,
      {
        "name" : "AssetResourceVersionRestService"
      }
      ,
      {
        "name" : "AssetRestService"
      }
      ,
      {
        "name" : "AssetSearchConfigRestService"
      }
      ,
      {
        "name" : "AssetSearchRestService"
      }
      ,
      {
        "name" : "AssetSubscriberRestService"
        ,
        "description" : "Rest service providing functionality user to subscribe, unsubscribe, get subscribed assets."
      }
      ,
      {
        "name" : "AssetSuggestRestService"
      }
      ,
      {
        "name" : "AssetVideoPreviewRestService"
      }
      ,
      {
        "name" : "AssetsDownloadLinksRestService"
      }
      ,
      {
        "name" : "AuditLogRestService"
      }
      ,
      {
        "name" : "ChannelPublicationRestService"
        ,
        "description" : "Rest service providing following functionalities:\npublish asset in a channel,\nunpublish asset from publishing channel,\nand get publishing channels that asset is published at."
      }
      ,
      {
        "name" : "CollectionsRestService"
      }
      ,
      {
        "name" : "ConfigurationSavedViewRestService"
      }
      ,
      {
        "name" : "CountryRestService"
      }
      ,
      {
        "name" : "DivisionRestService"
      }
      ,
      {
        "name" : "DownloadRestService"
      }
      ,
      {
        "name" : "FileGenerationTaskRestService"
      }
      ,
      {
        "name" : "FileResourceRestService"
      }
      ,
      {
        "name" : "FreeFieldRestService"
      }
      ,
      {
        "name" : "HealthRestService"
      }
      ,
      {
        "name" : "IndexRestService"
      }
      ,
      {
        "name" : "KeywordRestService"
      }
      ,
      {
        "name" : "LanguageRestService"
      }
      ,
      {
        "name" : "LicenseRestService"
      }
      ,
      {
        "name" : "LicenseTypeRestService"
      }
      ,
      {
        "name" : "MenuRestService"
      }
      ,
      {
        "name" : "MenuRestService_v1_1"
      }
      ,
      {
        "name" : "PublishingChannelRestService"
      }
      ,
      {
        "name" : "PushNotificationRestService"
      }
      ,
      {
        "name" : "RedirectUrlRestService"
      }
      ,
      {
        "name" : "RenderingSchemeRestService"
      }
      ,
      {
        "name" : "SavedFilterRestService"
      }
      ,
      {
        "name" : "SavedViewRestService"
      }
      ,
      {
        "name" : "SettingsRestService"
      }
      ,
      {
        "name" : "SmartSearchRestService"
      }
      ,
      {
        "name" : "SubscribedAssetRestService"
        ,
        "description" : "Rest service providing functionality to get, remove subscribers to assets."
      }
      ,
      {
        "name" : "SuffixRestService"
      }
      ,
      {
        "name" : "ThemeRestService"
      }
      ,
      {
        "name" : "TranscodingRestService"
      }
      ,
      {
        "name" : "UserFavouritesRestService"
      }
      ,
      {
        "name" : "UserRestService"
      }
      ,
      {
        "name" : "VariantRestService"
      }
      ,
      {
        "name" : "VirtualDatabaseRestService"
      }
      ,
      {
        "name" : "WebhookRestService"
      }
      ,
      {
        "name" : "WorkflowStepTemplateRestService"
        ,
        "description" : "Rest service for providing information about steps and\ncorresponding approvers of a workflow attached to a virtual database."
      }
      ,
      {
        "name" : "XmpMetadataRestService"
      }
    ],
    "definitions" : {
      "json_AbstractMpSavedViewRestDto" : {
        "type" : "object",
        "title" : "AbstractMpSavedViewRestDto",
            "properties" : {
              "@type" : {
              "readOnly" : false,
  "description" : "The JSON object type.",
  "type" : "string"
              },
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "criteria" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "modifiedOn" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "widgets" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_ViewWidgetRestDto"
  }
              }
            },
        "example" : {
    "@type" : "...",
    "id" : 12345,
    "criteria" : "...",
    "modifiedOn" : 12345,
    "widgets" : [ {
      "id" : 12345,
      "name" : "...",
      "label" : "...",
      "position" : 12345,
      "visible" : true,
      "fields" : [ {
        "id" : 12345,
        "type" : "...",
        "label" : "...",
        "name" : "...",
        "position" : 12345,
        "visible" : true
      }, {
        "id" : 12345,
        "type" : "...",
        "label" : "...",
        "name" : "...",
        "position" : 12345,
        "visible" : true
      } ]
    }, {
      "id" : 12345,
      "name" : "...",
      "label" : "...",
      "position" : 12345,
      "visible" : true,
      "fields" : [ {
        "id" : 12345,
        "type" : "...",
        "label" : "...",
        "name" : "...",
        "position" : 12345,
        "visible" : true
      }, {
        "id" : 12345,
        "type" : "...",
        "label" : "...",
        "name" : "...",
        "position" : 12345,
        "visible" : true
      } ]
    } ]
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AbstractResponseRestDto" : {
        "type" : "object",
        "title" : "AbstractResponseRestDto",
            "properties" : {
              "messages" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_MpMessageRestDto"
  }
              }
            },
        "example" : {
    "messages" : [ {
      "errorId" : "...",
      "message" : "...",
      "params" : {
        "property1" : { },
        "property2" : { }
      }
    }, {
      "errorId" : "...",
      "message" : "...",
      "params" : {
        "property1" : { },
        "property2" : { }
      }
    } ]
  },
        "description" : ""
      }
      ,
      "json_AggregationResultRestDto" : {
        "type" : "object",
        "title" : "AggregationResultRestDto",
            "properties" : {
              "@type" : {
              "readOnly" : false,
  "description" : "The JSON object type.",
  "type" : "string"
              }
            },
        "example" : {
    "@type" : "..."
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AiBooleanPropertyRestDto" : {
        "type" : "object",
        "title" : "AiBooleanPropertyRestDto",
            "properties" : {
              "value" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "scope" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
              }
            },
        "example" : {
    "value" : true,
    "name" : "...",
    "scope" : "CUSTOMER"
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AiDoublePropertyRestDto" : {
        "type" : "object",
        "title" : "AiDoublePropertyRestDto",
            "properties" : {
              "value" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "scope" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
              }
            },
        "example" : {
    "value" : 12345.0,
    "name" : "...",
    "scope" : "DEFAULT"
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AiIntegerPropertyRestDto" : {
        "type" : "object",
        "title" : "AiIntegerPropertyRestDto",
            "properties" : {
              "value" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "scope" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
              }
            },
        "example" : {
    "value" : 12345,
    "name" : "...",
    "scope" : "CUSTOMER"
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AiPropertyRestDto" : {
        "type" : "object",
        "title" : "AiPropertyRestDto",
            "properties" : {
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "scope" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AiPropertyScopeRestDto"
              }
            },
        "example" : {
    "name" : "...",
    "scope" : "DEFAULT"
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AiPropertyScopeRestDto" : {
        "type" : "string",
        "title" : "AiPropertyScopeRestDto",
            "enum" : [
              "DEFAULT",
              "CUSTOMER"
            ],
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.EnumRestDtoTemplate"
      }
      ,
      "json_AiTaggingServiceStateRestDto" : {
        "type" : "string",
        "title" : "AiTaggingServiceStateRestDto",
            "enum" : [
              "RUNNING",
              "PAUSED",
              "STOPPED",
              "FINISHED"
            ],
        "description" : ""
      }
      ,
      "json_AiTaggingStateResponseRestDto" : {
        "type" : "object",
        "title" : "AiTaggingStateResponseRestDto",
            "properties" : {
              "currentState" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AiTaggingServiceStateRestDto"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "currentState" : "RUNNING",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "SEE_OTHER",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AndCriteriaRestDto" : {
        "type" : "object",
        "title" : "AndCriteriaRestDto",
        "required" : ["subs"],
            "properties" : {
              "@type" : {
              "readOnly" : false,
  "description" : "The JSON object type.",
  "type" : "string"
              },
              "subs" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_SearchCriteriaRestDto"
  }
              }
            },
        "example" : {
    "@type" : "and",
    "subs" : [ {
      "@type" : "..."
    }, {
      "@type" : "..."
    } ]
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_ArchiveEntryRequestDto" : {
        "type" : "object",
        "title" : "ArchiveEntryRequestDto",
            "properties" : {
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "size" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "asset_id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "archive_path" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              }
            },
        "example" : {
    "name" : "...",
    "size" : 12345,
    "asset_id" : 12345,
    "archive_path" : "..."
  },
        "description" : ""
      }
      ,
      "json_ArchiveEntryRequestParameter" : {
        "type" : "object",
        "title" : "ArchiveEntryRequestParameter",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "versionNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "archive_entries" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_ArchiveEntryRequestDto"
  }
              }
            },
        "example" : {
    "assetId" : 12345,
    "versionNumber" : 12345,
    "archive_entries" : [ {
      "name" : "...",
      "size" : 12345,
      "asset_id" : 12345,
      "archive_path" : "..."
    }, {
      "name" : "...",
      "size" : 12345,
      "asset_id" : 12345,
      "archive_path" : "..."
    } ]
  },
        "description" : ""
      }
      ,
      "json_ArchiveEntryRestDto" : {
        "type" : "object",
        "title" : "ArchiveEntryRestDto",
            "properties" : {
              "creation_date" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "size" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "asset_id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "archive_path" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              }
            },
        "example" : {
    "creation_date" : 12345,
    "id" : 12345,
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUEST_URI_TOO_LONG",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "name" : "...",
    "size" : 12345,
    "asset_id" : 12345,
    "archive_path" : "..."
  },
        "description" : ""
      }
      ,
      "json_AssetBaseRestDto" : {
        "type" : "object",
        "title" : "AssetBaseRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "id" : 12345,
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "CREATED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetCollectionRequestRestDto" : {
        "type" : "object",
        "title" : "AssetCollectionRequestRestDto",
            "properties" : {
              "assetIds" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_IdRestDtoOfInteger"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "assetIds" : [ {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "SERVICE_UNAVAILABLE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "id" : 12345
    }, {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "PARTIAL_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "id" : 12345
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "PARTIAL_CONTENT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetCountryRestDto" : {
        "type" : "object",
        "title" : "AssetCountryRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "id" : { },
    "name" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "EXPECTATION_FAILED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetDetailsAttributeRestDto" : {
        "type" : "object",
        "title" : "AssetDetailsAttributeRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "label" : {
              "readOnly" : false,
  "description" : "attribute label",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "type" : {
              "readOnly" : false,
  "description" : "attribute type",
  "type" : "string"
              },
              "position" : {
              "readOnly" : false,
  "description" : "attribute position in the section",
  "type" : "number"
              }
            },
        "example" : {
    "id" : { },
    "label" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "USE_PROXY",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "type" : "...",
    "position" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetDetailsSectionRestDto" : {
        "type" : "object",
        "title" : "AssetDetailsSectionRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "label" : {
              "readOnly" : false,
  "description" : "(String) user localized section label",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "attributes" : {
              "readOnly" : false,
  "description" : "List of section attributes",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetDetailsAttributeRestDto"
  }
              }
            },
        "example" : {
    "id" : { },
    "label" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "METHOD_NOT_ALLOWED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "attributes" : [ {
      "id" : { },
      "label" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NO_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "type" : "...",
      "position" : 12345
    }, {
      "id" : { },
      "label" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_IMPLEMENTED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "type" : "...",
      "position" : 12345
    } ]
  },
        "description" : ""
      }
      ,
      "json_AssetDownloadApprovalDataRestDto" : {
        "type" : "object",
        "title" : "AssetDownloadApprovalDataRestDto",
            "properties" : {
              "approve" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "approveDescription" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "approve" : true,
    "approveDescription" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "BAD_REQUEST",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetDownloadHistoryRestDto" : {
        "type" : "object",
        "title" : "AssetDownloadHistoryRestDto",
            "properties" : {
              "downloaderUserName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "downloadDate" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "downloaderUserName" : "...",
    "id" : { },
    "downloadDate" : 12345,
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "FORBIDDEN",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetDownloadLinkRequestParameter" : {
        "type" : "object",
        "title" : "AssetDownloadLinkRequestParameter",
            "properties" : {
              "asset" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetRestDto"
              },
              "download_scheme" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_DownloadSchemesRestDto"
              },
              "language" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "download_version" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "license_confirmation" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_LicenseConfirmationDto"
              }
            },
        "example" : {
    "asset" : {
      "id" : 12345,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "TEMPORARY_REDIRECT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "countries" : [ {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      }, {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      } ],
      "uploadDate" : 12345,
      "actualVersionNumber" : 12345,
      "averageRating" : 12345.0,
      "affiliateNumber" : "...",
      "owner" : {
        "id" : { },
        "name" : "...",
        "division" : { },
        "messageDto" : { }
      },
      "vdb" : {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      },
      "description" : "...",
      "division" : {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      },
      "editState" : true,
      "hideIfNotValid" : true,
      "keywords" : "...",
      "lastUpdatedTime" : 12345,
      "language" : {
        "id" : { },
        "name" : "...",
        "code" : "...",
        "language" : "...",
        "messageDto" : { }
      },
      "assetTitle" : "...",
      "popularity" : 12345,
      "publishFrom" : 12345,
      "publishTo" : 12345,
      "validFrom" : 12345,
      "validTo" : 12345,
      "versionCount" : 12345,
      "platform" : "...",
      "downloadApprovalData" : {
        "approve" : true,
        "approveDescription" : "...",
        "messageDto" : { }
      },
      "themes" : [ {
        "id" : { },
        "text" : "...",
        "messageDto" : { }
      }, {
        "id" : { },
        "text" : "...",
        "messageDto" : { }
      } ],
      "watchers" : [ {
        "id" : { },
        "name" : "...",
        "division" : { },
        "messageDto" : { }
      }, {
        "id" : { },
        "name" : "...",
        "division" : { },
        "messageDto" : { }
      } ],
      "variantsCount" : 12345,
      "variants" : [ {
        "id" : { },
        "messageDto" : { }
      }, {
        "id" : { },
        "messageDto" : { }
      } ],
      "masterAsset" : {
        "messageDto" : { },
        "id" : 12345
      },
      "customProperties" : {
        "property1" : "...",
        "property2" : "..."
      },
      "isins" : "...",
      "hiRes" : true,
      "suitableForW2P" : true,
      "relationsCount" : 12345,
      "license" : {
        "id" : { },
        "messageDto" : { },
        "licenseName" : "...",
        "usageInternal" : true,
        "usageOnline" : true,
        "usageExternal" : true,
        "usagePrint" : true,
        "usageAudio" : true,
        "usageVideo" : true,
        "restrictionPersonal" : true,
        "restrictionPersonalText" : "...",
        "restrictionTime" : true,
        "restrictionTimeStart" : 12345,
        "restrictionTimeEnd" : 12345,
        "restrictionRegional" : true,
        "restrictionRegionalText" : "...",
        "restrictionOther" : true,
        "restrictionOtherText" : "...",
        "iconAssetId" : 12345,
        "licenseHolderName" : "...",
        "licenseHolderAddress" : "..."
      },
      "freeFields" : [ {
        "type" : 12345,
        "id" : { },
        "value" : "...",
        "name" : "...",
        "messageDto" : { }
      }, {
        "type" : 12345,
        "id" : { },
        "value" : "...",
        "name" : "...",
        "messageDto" : { }
      } ],
      "programVersion" : "...",
      "resourceVersion" : {
        "id" : { },
        "messageDto" : { },
        "assetId" : 12345,
        "versionNumber" : 12345,
        "insertedTime" : 12345,
        "fontChecked" : true,
        "uploadComments" : "...",
        "uploader" : { },
        "fileResource" : { },
        "official" : true,
        "actionsMask" : 12345
      },
      "persons" : [ {
        "id" : { },
        "firstName" : "...",
        "lastName" : "...",
        "messageDto" : { }
      }, {
        "id" : { },
        "firstName" : "...",
        "lastName" : "...",
        "messageDto" : { }
      } ],
      "relations" : [ {
        "id" : { },
        "name" : "...",
        "assetId" : 12345,
        "messageDto" : { }
      }, {
        "id" : { },
        "name" : "...",
        "assetId" : 12345,
        "messageDto" : { }
      } ],
      "structuredKeywords" : [ {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      }, {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      } ],
      "uploadApprovalData" : {
        "approveState" : "...",
        "responsibleUser" : "...",
        "approveStateType" : "...",
        "messageDto" : { }
      },
      "alternativeImageId" : 12345,
      "channelPublications" : [ {
        "messageDto" : { },
        "assetId" : 12345,
        "publishingChannelId" : "...",
        "publishFrom" : 12345,
        "publishTo" : 12345,
        "renderingSchemeId" : 12345,
        "licenseId" : 12345,
        "state" : "CURRENT"
      }, {
        "messageDto" : { },
        "assetId" : 12345,
        "publishingChannelId" : "...",
        "publishFrom" : 12345,
        "publishTo" : 12345,
        "renderingSchemeId" : 12345,
        "licenseId" : 12345,
        "state" : "CURRENT"
      } ]
    },
    "download_scheme" : {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "EXPECTATION_FAILED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "description" : "...",
      "type" : "...",
      "output_format" : "...",
      "icon_link" : "...",
      "isUsedInChannelPublication" : true
    },
    "language" : "...",
    "download_version" : "...",
    "license_confirmation" : {
      "license" : {
        "id" : { },
        "messageDto" : { },
        "licenseName" : "...",
        "usageInternal" : true,
        "usageOnline" : true,
        "usageExternal" : true,
        "usagePrint" : true,
        "usageAudio" : true,
        "usageVideo" : true,
        "restrictionPersonal" : true,
        "restrictionPersonalText" : "...",
        "restrictionTime" : true,
        "restrictionTimeStart" : 12345,
        "restrictionTimeEnd" : 12345,
        "restrictionRegional" : true,
        "restrictionRegionalText" : "...",
        "restrictionOther" : true,
        "restrictionOtherText" : "...",
        "iconAssetId" : 12345,
        "licenseHolderName" : "...",
        "licenseHolderAddress" : "..."
      },
      "licenseDto" : {
        "id" : { },
        "messageDto" : { },
        "licenseName" : "...",
        "usageInternal" : true,
        "usageOnline" : true,
        "usageExternal" : true,
        "usagePrint" : true,
        "usageAudio" : true,
        "usageVideo" : true,
        "restrictionPersonal" : true,
        "restrictionPersonalText" : "...",
        "restrictionTime" : true,
        "restrictionTimeStart" : 12345,
        "restrictionTimeEnd" : 12345,
        "restrictionRegional" : true,
        "restrictionRegionalText" : "...",
        "restrictionOther" : true,
        "restrictionOtherText" : "...",
        "iconAssetId" : 12345,
        "licenseHolderName" : "...",
        "licenseHolderAddress" : "..."
      }
    }
  },
        "description" : ""
      }
      ,
      "json_AssetDownloadLinkRestDto" : {
        "type" : "object",
        "title" : "AssetDownloadLinkRestDto",
            "properties" : {
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "asset" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetBaseRestDto"
              },
              "download_name" : {
              "readOnly" : false,
  "description" : "name of the downloaded file",
  "type" : "string"
              },
              "download_format" : {
              "readOnly" : false,
  "description" : "download scheme output format",
  "type" : "string"
              },
              "download_url" : {
              "readOnly" : false,
  "description" : "link for download",
  "type" : "string"
              },
              "status" : {
              "readOnly" : false,
  "description" : "license status :\n<ul>\n<li>OK<\/li>\n<li>LICENSE_CONFIRMATION_MISSING<\/li>\n<\/ul>",
  "type" : "string"
              }
            },
        "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUESTED_RANGE_NOT_SATISFIABLE",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "asset" : {
      "id" : 12345,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "METHOD_NOT_ALLOWED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "download_name" : "...",
    "download_format" : "...",
    "download_url" : "...",
    "status" : "..."
  },
        "description" : ""
      }
      ,
      "json_AssetDownloadRequestRestDto" : {
        "type" : "object",
        "title" : "AssetDownloadRequestRestDto",
            "properties" : {
              "renderingSchemeId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "renderingSchemeId" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetDownloadSchemesRestDto" : {
        "type" : "object",
        "title" : "AssetDownloadSchemesRestDto",
            "properties" : {
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "asset" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetBaseRestDto"
              },
              "download_schemes" : {
              "readOnly" : false,
  "description" : "Download schemes object contains schemes data",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_DownloadSchemesRestDto"
  }
              },
              "message" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUEST_ENTITY_TOO_LARGE",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "asset" : {
      "id" : 12345,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_FOUND",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "download_schemes" : [ {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "PARTIAL_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "description" : "...",
      "type" : "...",
      "output_format" : "...",
      "icon_link" : "...",
      "isUsedInChannelPublication" : true
    }, {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "PROXY_AUTHENTICATION_REQUIRED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "description" : "...",
      "type" : "...",
      "output_format" : "...",
      "icon_link" : "...",
      "isUsedInChannelPublication" : true
    } ],
    "message" : {
      "message" : "...",
      "type" : "...",
      "code" : "SERVICE_UNAVAILABLE",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetFavouritesResponseRestDto" : {
        "type" : "object",
        "title" : "AssetFavouritesResponseRestDto",
            "properties" : {
              "assetIds" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_IdRestDtoOfInteger"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "assetIds" : [ {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "SEE_OTHER",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "id" : 12345
    }, {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "HTTP_VERSION_NOT_SUPPORTED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "id" : 12345
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "NO_CONTENT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetFreeFieldRestDto" : {
        "type" : "object",
        "title" : "AssetFreeFieldRestDto",
            "properties" : {
              "type" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "value" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "type" : 12345,
    "id" : { },
    "value" : "...",
    "name" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "NO_CONTENT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetHistoryResponseRestDto" : {
        "type" : "object",
        "title" : "AssetHistoryResponseRestDto",
            "properties" : {
              "officialHistory" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_PublishedAssetRestDto"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "officialHistory" : [ {
      "id" : { },
      "assetVersionNumber" : 12345,
      "officialFrom" : "...",
      "officialTo" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "TEMPORARY_REDIRECT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "assetVersionNumber" : 12345,
      "officialFrom" : "...",
      "officialTo" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "INTERNAL_SERVER_ERROR",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "OK",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetIdTitleRestDto" : {
        "type" : "object",
        "title" : "AssetIdTitleRestDto",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "title" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              }
            },
        "example" : {
    "assetId" : 12345,
    "title" : "..."
  },
        "description" : ""
      }
      ,
      "json_AssetIdVersionNumberRestDto" : {
        "type" : "object",
        "title" : "AssetIdVersionNumberRestDto",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "versionNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "assetId" : 12345,
    "versionNumber" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetIdsCollectionRestDto" : {
        "type" : "object",
        "title" : "AssetIdsCollectionRestDto",
            "properties" : {
              "assetIds" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "type" : "number"
  }
              }
            },
        "example" : {
    "assetIds" : [ 12345, 12345 ]
  },
        "description" : ""
      }
      ,
      "json_AssetLinkedImagesResponseRestDto" : {
        "type" : "object",
        "title" : "AssetLinkedImagesResponseRestDto",
            "properties" : {
              "linkedImages" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_LinkedImageRestDto"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "linkedImages" : [ {
      "assetId" : 12345,
      "versionId" : 12345,
      "assetTitle" : "...",
      "visible" : true,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "BAD_GATEWAY",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "assetId" : 12345,
      "versionId" : 12345,
      "assetTitle" : "...",
      "visible" : true,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "OK",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUEST_URI_TOO_LONG",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetMetadataGroupRestDto" : {
        "type" : "object",
        "title" : "AssetMetadataGroupRestDto",
            "properties" : {
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "values" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetMetadataValueRestDto"
  }
              }
            },
        "example" : {
    "name" : "...",
    "values" : [ {
      "metadataType" : "...",
      "value" : "..."
    }, {
      "metadataType" : "...",
      "value" : "..."
    } ]
  },
        "description" : ""
      }
      ,
      "json_AssetMetadataRestDto" : {
        "type" : "object",
        "title" : "AssetMetadataRestDto",
            "properties" : {
              "dicom" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "camera" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "iptcContact" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "iptcContent" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "iptcStatus" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "iptcImage" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "swf" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "audio" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              },
              "video" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetMetadataGroupRestDto"
              }
            },
        "example" : {
    "dicom" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "camera" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "iptcContact" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "iptcContent" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "iptcStatus" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "iptcImage" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "swf" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "audio" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    },
    "video" : {
      "name" : "...",
      "values" : [ {
        "metadataType" : "...",
        "value" : "..."
      }, {
        "metadataType" : "...",
        "value" : "..."
      } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetMetadataValueRestDto" : {
        "type" : "object",
        "title" : "AssetMetadataValueRestDto",
            "properties" : {
              "metadataType" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "value" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              }
            },
        "example" : {
    "metadataType" : "...",
    "value" : "..."
  },
        "description" : ""
      }
      ,
      "json_AssetPartialRestDto" : {
        "type" : "object",
        "title" : "AssetPartialRestDto",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "versionNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "generatedName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "suffix" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "assetId" : 12345,
    "versionNumber" : 12345,
    "generatedName" : "...",
    "suffix" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "EXPECTATION_FAILED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetPartialResultRestDto" : {
        "type" : "object",
        "title" : "AssetPartialResultRestDto",
            "properties" : {
              "assets-metadata" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetPartialRestDto"
  }
              },
              "messages" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "assets-metadata" : [ {
      "assetId" : 12345,
      "versionNumber" : 12345,
      "generatedName" : "...",
      "suffix" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "SEE_OTHER",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "assetId" : 12345,
      "versionNumber" : 12345,
      "generatedName" : "...",
      "suffix" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "HTTP_VERSION_NOT_SUPPORTED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "messages" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUEST_TIMEOUT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetPersonRestDto" : {
        "type" : "object",
        "title" : "AssetPersonRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "firstName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "lastName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "id" : { },
    "firstName" : "...",
    "lastName" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "INTERNAL_SERVER_ERROR",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetPublishingBaseRestDto" : {
        "type" : "object",
        "title" : "AssetPublishingBaseRestDto",
            "properties" : {
              "publishedFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "publishedFrom" : 12345,
    "publishedTo" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetPublishingHistoryEntryRestDto" : {
        "type" : "object",
        "title" : "AssetPublishingHistoryEntryRestDto",
            "properties" : {
              "versionNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedFileName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "predecessorAssetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "versionNumber" : 12345,
    "publishedFrom" : 12345,
    "publishedTo" : 12345,
    "publishedFileName" : "...",
    "predecessorAssetId" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetPublishingHistoryRestDto" : {
        "type" : "object",
        "title" : "AssetPublishingHistoryRestDto",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishingHistory" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetPublishingHistoryEntryRestDto"
  }
              }
            },
        "example" : {
    "assetId" : 12345,
    "publishingHistory" : [ {
      "versionNumber" : 12345,
      "publishedFrom" : 12345,
      "publishedTo" : 12345,
      "publishedFileName" : "...",
      "predecessorAssetId" : 12345
    }, {
      "versionNumber" : 12345,
      "publishedFrom" : 12345,
      "publishedTo" : 12345,
      "publishedFileName" : "...",
      "predecessorAssetId" : 12345
    } ]
  },
        "description" : ""
      }
      ,
      "json_AssetPublishingModifyDatesRestDto" : {
        "type" : "object",
        "title" : "AssetPublishingModifyDatesRestDto",
            "properties" : {
              "publishNow" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "publishedFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "publishNow" : true,
    "publishedFrom" : 12345,
    "publishedTo" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetPublishingRestDto" : {
        "type" : "object",
        "title" : "AssetPublishingRestDto",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedFileName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "publishedTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "assetId" : 12345,
    "publishedFrom" : 12345,
    "publishedFileName" : "...",
    "publishedTo" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetPublishingStatusRestDto" : {
        "type" : "object",
        "title" : "AssetPublishingStatusRestDto",
            "properties" : {
              "publishedFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishedFileName" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "isCurrentlyPublished" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "isScheduledForPublishing" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "predecessor" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetIdTitleRestDto"
              },
              "successor" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetIdTitleRestDto"
              }
            },
        "example" : {
    "publishedFrom" : 12345,
    "publishedTo" : 12345,
    "publishedFileName" : "...",
    "isCurrentlyPublished" : true,
    "isScheduledForPublishing" : true,
    "predecessor" : {
      "assetId" : 12345,
      "title" : "..."
    },
    "successor" : {
      "assetId" : 12345,
      "title" : "..."
    }
  },
        "description" : ""
      }
      ,
      "json_AssetRatingRequestParameter" : {
        "type" : "object",
        "title" : "AssetRatingRequestParameter",
            "properties" : {
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "comment" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "rating" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "assetId" : 12345,
    "comment" : "...",
    "rating" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetRatingRestDto" : {
        "type" : "object",
        "title" : "AssetRatingRestDto",
            "properties" : {
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "rating_id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "asset_id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "user_id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "user_formatted_full_name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "comment" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "rating" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "last-modified" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "actions_mask" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "USE_PROXY",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "rating_id" : 12345,
    "asset_id" : 12345,
    "user_id" : 12345,
    "user_formatted_full_name" : "...",
    "comment" : "...",
    "rating" : 12345,
    "last-modified" : 12345,
    "actions_mask" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetRelationRestDto" : {
        "type" : "object",
        "title" : "AssetRelationRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "id" : { },
    "name" : "...",
    "assetId" : 12345,
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUEST_TIMEOUT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetResourceVersionRestDto" : {
        "type" : "object",
        "title" : "AssetResourceVersionRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "assetId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "versionNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "insertedTime" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "fontChecked" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "uploadComments" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "uploader" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_UserRestDto"
              },
              "fileResource" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_FileResourceRestDto"
              },
              "official" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "actionsMask" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              }
            },
        "example" : {
    "id" : { },
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "UNAUTHORIZED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "assetId" : 12345,
    "versionNumber" : 12345,
    "insertedTime" : 12345,
    "fontChecked" : true,
    "uploadComments" : "...",
    "uploader" : {
      "id" : { },
      "name" : "...",
      "division" : {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "EXPECTATION_FAILED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "fileResource" : {
      "id" : { },
      "fileName" : "...",
      "generatedName" : "...",
      "suffix" : "...",
      "fileSize" : 12345,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "PROXY_AUTHENTICATION_REQUIRED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "fileResourceType" : 12345,
      "fileResourceTypeName" : "...",
      "md5Hash" : "...",
      "colorDepth" : 12345,
      "colorProfile" : "...",
      "colorSpace" : "...",
      "compression" : "...",
      "width" : 12345,
      "height" : 12345,
      "unit" : 12345,
      "unitName" : "...",
      "imageType" : "...",
      "recordYear" : 12345,
      "duration" : 12345,
      "audioFrameRate" : 12345.0,
      "audioSampleRate" : 12345.0,
      "audioChannels" : 12345,
      "audioEncoding" : "...",
      "audioVbr" : true,
      "audioFrameSizeBits" : 12345,
      "videoFrameRate" : 12345.0,
      "snapshotDate" : 12345,
      "resolution" : 12345,
      "passwordProtected" : true,
      "pageCount" : 12345,
      "mimeType" : "...",
      "actors" : "...",
      "title" : "..."
    },
    "official" : true,
    "actionsMask" : 12345
  },
        "description" : ""
      }
      ,
      "json_AssetResourceVersionUploadSchemeRestDto" : {
        "type" : "object",
        "title" : "AssetResourceVersionUploadSchemeRestDto",
            "properties" : {
              "approvalStepsRequired" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "approvalStepsRequired" : true,
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "INTERNAL_SERVER_ERROR",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetRestDto" : {
        "type" : "object",
        "title" : "AssetRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "countries" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetCountryRestDto"
  }
              },
              "uploadDate" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "actualVersionNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "averageRating" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "affiliateNumber" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "owner" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_UserRestDto"
              },
              "vdb" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_VirtualDatabaseRestDto"
              },
              "description" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "division" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_DivisionRestDto"
              },
              "editState" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "hideIfNotValid" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "keywords" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "lastUpdatedTime" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "language" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_LanguageRestDto"
              },
              "assetTitle" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "popularity" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "publishTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "validFrom" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "validTo" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "versionCount" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "platform" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "downloadApprovalData" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetDownloadApprovalDataRestDto"
              },
              "themes" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_ThemeRestDto"
  }
              },
              "watchers" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_UserRestDto"
  }
              },
              "variantsCount" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "variants" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetVariantRestDto"
  }
              },
              "masterAsset" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_IdRestDtoOfInteger"
              },
              "customProperties" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object",
  "additionalProperties" : {
    "type" : "string"
  }
              },
              "isins" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "hiRes" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "suitableForW2P" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "relationsCount" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "license" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_LicenseRestDto"
              },
              "freeFields" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetFreeFieldRestDto"
  }
              },
              "programVersion" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "resourceVersion" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetResourceVersionRestDto"
              },
              "persons" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetPersonRestDto"
  }
              },
              "relations" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetRelationRestDto"
  }
              },
              "structuredKeywords" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetStructuredKeywordRestDto"
  }
              },
              "uploadApprovalData" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetUploadApprovalDataRestDto"
              },
              "alternativeImageId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "channelPublications" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_ChannelPublicationRestDto"
  }
              }
            },
        "example" : {
    "id" : 12345,
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "BAD_REQUEST",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "countries" : [ {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "OK",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "OK",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "uploadDate" : 12345,
    "actualVersionNumber" : 12345,
    "averageRating" : 12345.0,
    "affiliateNumber" : "...",
    "owner" : {
      "id" : { },
      "name" : "...",
      "division" : {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "EXPECTATION_FAILED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "vdb" : {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "FORBIDDEN",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "description" : "...",
    "division" : {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "RESET_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "editState" : true,
    "hideIfNotValid" : true,
    "keywords" : "...",
    "lastUpdatedTime" : 12345,
    "language" : {
      "id" : { },
      "name" : "...",
      "code" : "...",
      "language" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "UNAUTHORIZED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "assetTitle" : "...",
    "popularity" : 12345,
    "publishFrom" : 12345,
    "publishTo" : 12345,
    "validFrom" : 12345,
    "validTo" : 12345,
    "versionCount" : 12345,
    "platform" : "...",
    "downloadApprovalData" : {
      "approve" : true,
      "approveDescription" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_FOUND",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "themes" : [ {
      "id" : { },
      "text" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "USE_PROXY",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "text" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "CREATED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "watchers" : [ {
      "id" : { },
      "name" : "...",
      "division" : {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "MOVED_PERMANENTLY",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "name" : "...",
      "division" : {
        "id" : { },
        "name" : "...",
        "messageDto" : { }
      },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_FOUND",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "variantsCount" : 12345,
    "variants" : [ {
      "id" : { },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "LENGTH_REQUIRED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "CREATED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "masterAsset" : {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "ACCEPTED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "id" : 12345
    },
    "customProperties" : {
      "property1" : "...",
      "property2" : "..."
    },
    "isins" : "...",
    "hiRes" : true,
    "suitableForW2P" : true,
    "relationsCount" : 12345,
    "license" : {
      "id" : { },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_MODIFIED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "licenseName" : "...",
      "usageInternal" : true,
      "usageOnline" : true,
      "usageExternal" : true,
      "usagePrint" : true,
      "usageAudio" : true,
      "usageVideo" : true,
      "restrictionPersonal" : true,
      "restrictionPersonalText" : "...",
      "restrictionTime" : true,
      "restrictionTimeStart" : 12345,
      "restrictionTimeEnd" : 12345,
      "restrictionRegional" : true,
      "restrictionRegionalText" : "...",
      "restrictionOther" : true,
      "restrictionOtherText" : "...",
      "iconAssetId" : 12345,
      "licenseHolderName" : "...",
      "licenseHolderAddress" : "..."
    },
    "freeFields" : [ {
      "type" : 12345,
      "id" : { },
      "value" : "...",
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "UNAUTHORIZED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "type" : 12345,
      "id" : { },
      "value" : "...",
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_IMPLEMENTED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "programVersion" : "...",
    "resourceVersion" : {
      "id" : { },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "HTTP_VERSION_NOT_SUPPORTED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "assetId" : 12345,
      "versionNumber" : 12345,
      "insertedTime" : 12345,
      "fontChecked" : true,
      "uploadComments" : "...",
      "uploader" : {
        "id" : { },
        "name" : "...",
        "division" : { },
        "messageDto" : { }
      },
      "fileResource" : {
        "id" : { },
        "fileName" : "...",
        "generatedName" : "...",
        "suffix" : "...",
        "fileSize" : 12345,
        "messageDto" : { },
        "fileResourceType" : 12345,
        "fileResourceTypeName" : "...",
        "md5Hash" : "...",
        "colorDepth" : 12345,
        "colorProfile" : "...",
        "colorSpace" : "...",
        "compression" : "...",
        "width" : 12345,
        "height" : 12345,
        "unit" : 12345,
        "unitName" : "...",
        "imageType" : "...",
        "recordYear" : 12345,
        "duration" : 12345,
        "audioFrameRate" : 12345.0,
        "audioSampleRate" : 12345.0,
        "audioChannels" : 12345,
        "audioEncoding" : "...",
        "audioVbr" : true,
        "audioFrameSizeBits" : 12345,
        "videoFrameRate" : 12345.0,
        "snapshotDate" : 12345,
        "resolution" : 12345,
        "passwordProtected" : true,
        "pageCount" : 12345,
        "mimeType" : "...",
        "actors" : "...",
        "title" : "..."
      },
      "official" : true,
      "actionsMask" : 12345
    },
    "persons" : [ {
      "id" : { },
      "firstName" : "...",
      "lastName" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "REQUEST_ENTITY_TOO_LARGE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "firstName" : "...",
      "lastName" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "REQUEST_TIMEOUT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "relations" : [ {
      "id" : { },
      "name" : "...",
      "assetId" : 12345,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "EXPECTATION_FAILED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "name" : "...",
      "assetId" : 12345,
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_ACCEPTABLE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "structuredKeywords" : [ {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "REQUEST_ENTITY_TOO_LARGE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    }, {
      "id" : { },
      "name" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "MOVED_PERMANENTLY",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    } ],
    "uploadApprovalData" : {
      "approveState" : "...",
      "responsibleUser" : "...",
      "approveStateType" : "...",
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NO_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      }
    },
    "alternativeImageId" : 12345,
    "channelPublications" : [ {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NO_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "assetId" : 12345,
      "publishingChannelId" : "...",
      "publishFrom" : 12345,
      "publishTo" : 12345,
      "renderingSchemeId" : 12345,
      "licenseId" : 12345,
      "state" : "EXPIRED"
    }, {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "GONE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "assetId" : 12345,
      "publishingChannelId" : "...",
      "publishFrom" : 12345,
      "publishTo" : 12345,
      "renderingSchemeId" : 12345,
      "licenseId" : 12345,
      "state" : "CURRENT"
    } ]
  },
        "description" : ""
      }
      ,
      "json_AssetSearchConfigurationRestDto" : {
        "type" : "object",
        "title" : "AssetSearchConfigurationRestDto",
            "properties" : {
              "sortFields" : {
              "readOnly" : false,
  "description" : "list of sort criteria",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_SortConfigurationEntry"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "sortFields" : [ {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "UNSUPPORTED_MEDIA_TYPE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "field" : "...",
      "label" : "...",
      "sortOrder" : "...",
      "position" : 12345
    }, {
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "PAYMENT_REQUIRED",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "field" : "...",
      "label" : "...",
      "sortOrder" : "...",
      "position" : 12345
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "GATEWAY_TIMEOUT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetSearchResultRestDto" : {
        "type" : "object",
        "title" : "AssetSearchResultRestDto",
            "properties" : {
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "total" : {
              "readOnly" : false,
  "description" : "(Long) Number of total results",
  "type" : "integer",
  "format" : "int64"
              },
              "assets" : {
              "readOnly" : false,
  "description" : "List of Asset Rest Dtos",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_SearchAssetRestDto"
  }
              },
              "widgets" : {
              "readOnly" : false,
  "description" : "List of Widget Dtos",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_WidgetRestDto"
  }
              },
              "sorting" : {
              "readOnly" : false,
  "description" : "List of Sort criterion Dtos",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_SortCriteriaRestDto"
  }
              },
              "filter" : {
              "readOnly" : false,
  "description" : "List of Filter Dtos",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_SearchFilterRestDto"
  }
              },
              "urlHash" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "query" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              }
            },
        "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "PARTIAL_CONTENT",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "total" : 12345,
    "assets" : [ {
      "id" : { },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "PARTIAL_CONTENT",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "searchResultMenuMask" : "...",
      "suffix" : "...",
      "vdbName" : "...",
      "division" : "...",
      "countries" : "...",
      "uploaderName" : "...",
      "themeNames" : [ "...", "..." ],
      "uploadApproverName" : "...",
      "basedOnInstance" : 12345,
      "previewSuffix" : "...",
      "previewPagesCount" : 12345,
      "selectableInSearchResults" : true,
      "version" : 12345,
      "alternativeImage" : 12345,
      "averageRating" : 12345.0,
      "affiliateNumber" : "...",
      "ownerId" : 12345,
      "ownerName" : "...",
      "databaseId" : 12345,
      "description" : "...",
      "divisionId" : 12345,
      "editState" : true,
      "hideIfNotValid" : true,
      "keywords" : "...",
      "licenseId" : 12345,
      "licenseIconId" : 12345,
      "languageId" : 12345,
      "language" : "...",
      "assetTitle" : "...",
      "popularity" : 12345,
      "publishFrom" : "...",
      "publishTo" : "...",
      "title" : "...",
      "validFrom" : 12345,
      "validTo" : 12345,
      "upcoming" : true,
      "expired" : true,
      "unlimitedValidity" : true,
      "uploadDate" : "...",
      "successorOf" : "...",
      "actors" : "...",
      "designationType" : "...",
      "platform" : "...",
      "uploadApprovalApproverId" : 12345,
      "oldUploadApprovalApproveDate" : "...",
      "oldUploadApprovalApproveHistory" : "...",
      "oldUploadApprovalApproveNotes" : "...",
      "uploadApprovalApproveState" : 12345,
      "oldUploadApprovalDenyReason" : "...",
      "oldUploadApprovalExpireDate" : "...",
      "downloadApprovalApprove" : true,
      "downloadApproveReason" : "...",
      "customProperties" : "...",
      "themes" : [ 12345, 12345 ],
      "watchers" : [ 12345, 12345 ],
      "variantsCount" : 12345,
      "variants" : [ 12345, 12345 ],
      "masterAsset" : 12345,
      "fileName" : "...",
      "fileNameWithSuffix" : "...",
      "fileSize" : 12345,
      "articleNumber" : "...",
      "articleDescription" : "...",
      "isFontChecked" : true,
      "isins" : "...",
      "hiRes" : true,
      "suitableForW2P" : true,
      "compression" : "...",
      "resolution" : 12345,
      "colorDepth" : 12345,
      "colorSpaceType" : "...",
      "relationsCount" : 12345,
      "width" : 12345,
      "height" : 12345,
      "unit" : "...",
      "pageCount" : 12345,
      "license" : {
        "id" : { },
        "messageDto" : { },
        "licenseName" : "...",
        "usageInternal" : true,
        "usageOnline" : true,
        "usageExternal" : true,
        "usagePrint" : true,
        "usageAudio" : true,
        "usageVideo" : true,
        "restrictionPersonal" : true,
        "restrictionPersonalText" : "...",
        "restrictionTime" : true,
        "restrictionTimeStartStr" : "...",
        "restrictionTimeEndStr" : "...",
        "restrictionTimeStart" : 12345,
        "restrictionTimeEnd" : 12345,
        "restrictionRegional" : true,
        "restrictionRegionalText" : "...",
        "restrictionOther" : true,
        "restrictionOtherText" : "...",
        "iconAssetId" : 12345,
        "licenseHolderName" : "...",
        "licenseHolderAddress" : "..."
      },
      "freeFields" : [ {
        "type" : 12345,
        "id" : { },
        "value" : "...",
        "name" : "...",
        "messageDto" : { }
      }, {
        "type" : 12345,
        "id" : { },
        "value" : "...",
        "name" : "...",
        "messageDto" : { }
      } ],
      "fileResourceTypeName" : "...",
      "structuredKeywords" : [ "...", "..." ],
      "isOfficial" : true,
      "officialVersionNumber" : 12345,
      "ratingsCount" : 12345
    }, {
      "id" : { },
      "messageDto" : {
        "message" : "...",
        "type" : "...",
        "code" : "NOT_ACCEPTABLE",
        "messageCode" : "...",
        "params" : [ { }, { } ]
      },
      "searchResultMenuMask" : "...",
      "suffix" : "...",
      "vdbName" : "...",
      "division" : "...",
      "countries" : "...",
      "uploaderName" : "...",
      "themeNames" : [ "...", "..." ],
      "uploadApproverName" : "...",
      "basedOnInstance" : 12345,
      "previewSuffix" : "...",
      "previewPagesCount" : 12345,
      "selectableInSearchResults" : true,
      "version" : 12345,
      "alternativeImage" : 12345,
      "averageRating" : 12345.0,
      "affiliateNumber" : "...",
      "ownerId" : 12345,
      "ownerName" : "...",
      "databaseId" : 12345,
      "description" : "...",
      "divisionId" : 12345,
      "editState" : true,
      "hideIfNotValid" : true,
      "keywords" : "...",
      "licenseId" : 12345,
      "licenseIconId" : 12345,
      "languageId" : 12345,
      "language" : "...",
      "assetTitle" : "...",
      "popularity" : 12345,
      "publishFrom" : "...",
      "publishTo" : "...",
      "title" : "...",
      "validFrom" : 12345,
      "validTo" : 12345,
      "upcoming" : true,
      "expired" : true,
      "unlimitedValidity" : true,
      "uploadDate" : "...",
      "successorOf" : "...",
      "actors" : "...",
      "designationType" : "...",
      "platform" : "...",
      "uploadApprovalApproverId" : 12345,
      "oldUploadApprovalApproveDate" : "...",
      "oldUploadApprovalApproveHistory" : "...",
      "oldUploadApprovalApproveNotes" : "...",
      "uploadApprovalApproveState" : 12345,
      "oldUploadApprovalDenyReason" : "...",
      "oldUploadApprovalExpireDate" : "...",
      "downloadApprovalApprove" : true,
      "downloadApproveReason" : "...",
      "customProperties" : "...",
      "themes" : [ 12345, 12345 ],
      "watchers" : [ 12345, 12345 ],
      "variantsCount" : 12345,
      "variants" : [ 12345, 12345 ],
      "masterAsset" : 12345,
      "fileName" : "...",
      "fileNameWithSuffix" : "...",
      "fileSize" : 12345,
      "articleNumber" : "...",
      "articleDescription" : "...",
      "isFontChecked" : true,
      "isins" : "...",
      "hiRes" : true,
      "suitableForW2P" : true,
      "compression" : "...",
      "resolution" : 12345,
      "colorDepth" : 12345,
      "colorSpaceType" : "...",
      "relationsCount" : 12345,
      "width" : 12345,
      "height" : 12345,
      "unit" : "...",
      "pageCount" : 12345,
      "license" : {
        "id" : { },
        "messageDto" : { },
        "licenseName" : "...",
        "usageInternal" : true,
        "usageOnline" : true,
        "usageExternal" : true,
        "usagePrint" : true,
        "usageAudio" : true,
        "usageVideo" : true,
        "restrictionPersonal" : true,
        "restrictionPersonalText" : "...",
        "restrictionTime" : true,
        "restrictionTimeStartStr" : "...",
        "restrictionTimeEndStr" : "...",
        "restrictionTimeStart" : 12345,
        "restrictionTimeEnd" : 12345,
        "restrictionRegional" : true,
        "restrictionRegionalText" : "...",
        "restrictionOther" : true,
        "restrictionOtherText" : "...",
        "iconAssetId" : 12345,
        "licenseHolderName" : "...",
        "licenseHolderAddress" : "..."
      },
      "freeFields" : [ {
        "type" : 12345,
        "id" : { },
        "value" : "...",
        "name" : "...",
        "messageDto" : { }
      }, {
        "type" : 12345,
        "id" : { },
        "value" : "...",
        "name" : "...",
        "messageDto" : { }
      } ],
      "fileResourceTypeName" : "...",
      "structuredKeywords" : [ "...", "..." ],
      "isOfficial" : true,
      "officialVersionNumber" : 12345,
      "ratingsCount" : 12345
    } ],
    "widgets" : [ {
      "_internalType" : "...",
      "type" : "...",
      "label" : "...",
      "hasMore" : true,
      "position" : 12345,
      "values" : [ {
        "id" : { },
        "name" : "...",
        "count" : "...",
        "messageDto" : { }
      }, {
        "id" : { },
        "name" : "...",
        "count" : "...",
        "messageDto" : { }
      } ]
    }, {
      "_internalType" : "...",
      "type" : "...",
      "label" : "...",
      "hasMore" : true,
      "position" : 12345,
      "values" : [ {
        "id" : { },
        "name" : "...",
        "count" : "...",
        "messageDto" : { }
      }, {
        "id" : { },
        "name" : "...",
        "count" : "...",
        "messageDto" : { }
      } ]
    } ],
    "sorting" : [ {
      "field" : "...",
      "order" : "...",
      "missing" : "..."
    }, {
      "field" : "...",
      "order" : "...",
      "missing" : "..."
    } ],
    "filter" : [ {
      "value" : [ {
        "search" : { },
        "presentation" : "..."
      }, {
        "search" : { },
        "presentation" : "..."
      } ],
      "type" : "...",
      "label" : "...",
      "enabled" : true,
      "valid" : true
    }, {
      "value" : [ {
        "search" : { },
        "presentation" : "..."
      }, {
        "search" : { },
        "presentation" : "..."
      } ],
      "type" : "...",
      "label" : "...",
      "enabled" : true,
      "valid" : true
    } ],
    "urlHash" : "...",
    "query" : "..."
  },
        "description" : ""
      }
      ,
      "json_AssetSetCollectionResponseRestDto" : {
        "type" : "object",
        "title" : "AssetSetCollectionResponseRestDto",
            "properties" : {
              "assetCollections" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "$ref" : "#/definitions/json_AssetSetRestDto"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "assetCollections" : [ {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    }, {
      "id" : 12345,
      "name" : "...",
      "parentId" : 12345,
      "ownerId" : 12345,
      "type" : 12345,
      "status" : 12345,
      "isDefault" : true,
      "description" : "...",
      "isPublic" : true,
      "isUnlimitedVisibility" : true
    } ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "GONE",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetSetRestDto" : {
        "type" : "object",
        "title" : "AssetSetRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "parentId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "ownerId" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "type" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "status" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "isDefault" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "description" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "isPublic" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              },
              "isUnlimitedVisibility" : {
              "readOnly" : false,
  "description" : "",
  "type" : "boolean"
              }
            },
        "example" : {
    "id" : 12345,
    "name" : "...",
    "parentId" : 12345,
    "ownerId" : 12345,
    "type" : 12345,
    "status" : 12345,
    "isDefault" : true,
    "description" : "...",
    "isPublic" : true,
    "isUnlimitedVisibility" : true
  },
        "description" : "This class is generated.\nTemplate: com.brandmaker.mms.mp.generator.templates.rest.RestDtoTemplate"
      }
      ,
      "json_AssetStateChangeRestDto" : {
        "type" : "object",
        "title" : "AssetStateChangeRestDto",
            "properties" : {
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              },
              "state" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetStateRestDto"
              },
              "variantsHandler" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_AssetVariantHandlingStrategyRestDto"
              }
            },
        "example" : {
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "REQUEST_URI_TOO_LONG",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    },
    "state" : "DELETED",
    "variantsHandler" : {
      "type" : "UNASSIGN_VARIANTS",
      "transferToAssetId" : 12345
    }
  },
        "description" : ""
      }
      ,
      "json_AssetStateRestDto" : {
        "type" : "string",
        "title" : "AssetStateRestDto",
            "enum" : [
              "DELETED"
            ],
        "description" : ""
      }
      ,
      "json_AssetStatusRestDto" : {
        "type" : "object",
        "title" : "AssetStatusRestDto",
            "properties" : {
              "status" : {
              "readOnly" : false,
  "description" : "",
  "type" : "number"
              },
              "message" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "entity" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              }
            },
        "example" : {
    "status" : 12345,
    "message" : "...",
    "entity" : { }
  },
        "description" : ""
      }
      ,
      "json_AssetStructuredKeywordRestDto" : {
        "type" : "object",
        "title" : "AssetStructuredKeywordRestDto",
            "properties" : {
              "id" : {
              "readOnly" : false,
  "description" : "",
  "type" : "object"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "id" : { },
    "name" : "...",
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "METHOD_NOT_ALLOWED",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetSuffixTypeRestDto" : {
        "type" : "object",
        "title" : "AssetSuffixTypeRestDto",
            "properties" : {
              "label" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "name" : {
              "readOnly" : false,
  "description" : "",
  "type" : "string"
              },
              "suffixes" : {
              "readOnly" : false,
  "description" : "",
  "type" : "array",
  "items" : {
    "type" : "string"
  }
              },
              "messageDto" : {
              "readOnly" : false,
  "$ref" : "#/definitions/json_MessageRestDto"
              }
            },
        "example" : {
    "label" : "...",
    "name" : "...",
    "suffixes" : [ "...", "..." ],
    "messageDto" : {
      "message" : "...",
      "type" : "...",
      "code" : "SEE_OTHER",
      "messageCode" : "...",
      "params" : [ { }, { } ]
    }
  },
        "description" : ""
      }
      ,
      "json_AssetSuggestResultRestDto" : {
        "type" : "object",
[...]
